Hu-04 - Hu-08.json
{
  "name": "Hu-04",
  "nodes": [
    {
      "parameters": {
        "path": "excedentes",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "bca317d5-1815-41cb-8325-937e5b2d8d56",
      "name": "Webhook",
      "webhookId": "6a1be99d-6af8-4d77-9935-20cbe8f64e65"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "a750b8cf-7d23-499a-ac05-2d6bbf40d14b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n\nif (!staticData.usuarios) staticData.usuarios = [];\nif (!staticData.donaciones) staticData.donaciones = [];\nif (!staticData.notificaciones) staticData.notificaciones = [];\nif (!staticData.reservas) staticData.reservas = [];\n\nconst input = $input.first().json;\nconst query = input.query || {};\nconst accion = query.accion || \"inicio\";\n\nfunction htmlBase(contenido) {\n  return `\n  <!DOCTYPE html>\n  <html lang=\"es\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Plataforma de Excedentes Alimentarios</title>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        background: #f4f7f5;\n        margin: 0;\n        padding: 0;\n      }\n\n      header {\n        background: #2e7d32;\n        color: white;\n        padding: 25px;\n        text-align: center;\n      }\n\n      main {\n        width: 90%;\n        max-width: 950px;\n        margin: 30px auto;\n        background: white;\n        padding: 25px;\n        border-radius: 12px;\n        box-shadow: 0 2px 12px rgba(0,0,0,0.12);\n      }\n\n      nav a {\n        display: inline-block;\n        margin: 6px;\n        padding: 9px 13px;\n        background: #e8f5e9;\n        color: #2e7d32;\n        text-decoration: none;\n        border-radius: 6px;\n        font-weight: bold;\n      }\n\n      nav a:hover {\n        background: #c8e6c9;\n      }\n\n      input, select, textarea, button {\n        width: 100%;\n        padding: 10px;\n        margin: 8px 0 14px 0;\n        border-radius: 6px;\n        border: 1px solid #ccc;\n        box-sizing: border-box;\n      }\n\n      button {\n        background: #2e7d32;\n        color: white;\n        border: none;\n        cursor: pointer;\n        font-weight: bold;\n      }\n\n      button:hover {\n        background: #256628;\n      }\n\n      .card {\n        border: 1px solid #ddd;\n        border-left: 6px solid #2e7d32;\n        padding: 15px;\n        margin: 15px 0;\n        border-radius: 8px;\n        background: #fafafa;\n      }\n\n      .critica {\n        border-left-color: #d32f2f;\n        background: #fff3f3;\n      }\n\n      .badge {\n        display: inline-block;\n        background: #d32f2f;\n        color: white;\n        padding: 4px 8px;\n        border-radius: 5px;\n        font-size: 12px;\n        margin-right: 6px;\n      }\n\n      .frio {\n        background: #0277bd;\n      }\n\n      .ok {\n        background: #e8f5e9;\n        border-left: 6px solid #2e7d32;\n        padding: 12px;\n        border-radius: 8px;\n      }\n\n      .error {\n        background: #ffebee;\n        border-left: 6px solid #d32f2f;\n        padding: 12px;\n        border-radius: 8px;\n      }\n\n      table {\n        width: 100%;\n        border-collapse: collapse;\n        margin-top: 15px;\n      }\n\n      th, td {\n        border: 1px solid #ddd;\n        padding: 10px;\n        text-align: left;\n      }\n\n      th {\n        background: #e8f5e9;\n      }\n    </style>\n  </head>\n\n  <body>\n    <header>\n      <h1>Plataforma de Gestión de Excedentes Alimentarios</h1>\n      <p>Prototipo funcional en n8n + Docker</p>\n    </header>\n\n    <main>\n      <nav>\n        <a href=\"?accion=inicio\">Inicio</a>\n        <a href=\"?accion=registro\">Registrar usuario</a>\n        <a href=\"?accion=usuarios\">Usuarios</a>\n        <a href=\"?accion=publicar\">Publicar excedente</a>\n        <a href=\"?accion=donaciones\">Ver donaciones</a>\n        <a href=\"?accion=notificaciones\">Notificaciones ONG</a>\n        <a href=\"?accion=reservas\">Reservas</a>\n      </nav>\n\n      <hr>\n      ${contenido}\n    </main>\n  </body>\n  </html>\n  `;\n}\n\nfunction responder(contenido) {\n  return [\n    {\n      json: {\n        html: htmlBase(contenido)\n      }\n    }\n  ];\n}\n\nfunction escapar(texto) {\n  if (!texto) return \"\";\n  return String(texto)\n    .replaceAll(\"&\", \"&amp;\")\n    .replaceAll(\"<\", \"&lt;\")\n    .replaceAll(\">\", \"&gt;\");\n}\n\nif (accion === \"inicio\") {\n  return responder(`\n    <h2>Bienvenido al sistema</h2>\n    <p>Este prototipo representa el flujo principal del Sprint 1 usando n8n como backend mediante Webhooks.</p>\n\n    <h3>Funcionalidades implementadas</h3>\n    <ul>\n      <li>Registro de usuarios Donante y Organización Social.</li>\n      <li>Publicación de excedentes alimentarios.</li>\n      <li>Validación de fecha de vencimiento.</li>\n      <li>Marcado de productos con cadena de frío.</li>\n      <li>Priorización por vencimiento más próximo.</li>\n      <li>Generación de alertas para organizaciones sociales.</li>\n      <li>Reserva de donaciones.</li>\n      <li>Generación de QR simulado para retiro.</li>\n    </ul>\n\n    <p class=\"ok\"><strong>Estado:</strong> n8n funcionando correctamente con Docker.</p>\n  `);\n}\n\nif (accion === \"registro\") {\n  return responder(`\n    <h2>Registrar usuario</h2>\n\n    <form method=\"GET\">\n      <input type=\"hidden\" name=\"accion\" value=\"guardar_usuario\">\n\n      <label>Nombre:</label>\n      <input name=\"nombre\" required>\n\n      <label>Email:</label>\n      <input name=\"email\" type=\"email\" required>\n\n      <label>Rol:</label>\n      <select name=\"rol\" required>\n        <option value=\"DONANTE\">Donante</option>\n        <option value=\"ONG\">Organización Social</option>\n      </select>\n\n      <label>Dirección:</label>\n      <input name=\"direccion\" required>\n\n      <button type=\"submit\">Guardar usuario</button>\n    </form>\n  `);\n}\n\nif (accion === \"guardar_usuario\") {\n  const usuario = {\n    id: Date.now(),\n    nombre: escapar(query.nombre),\n    email: escapar(query.email),\n    rol: query.rol,\n    direccion: escapar(query.direccion),\n    verificado: true,\n    creadoEn: new Date().toISOString()\n  };\n\n  staticData.usuarios.push(usuario);\n\n  return responder(`\n    <h2>Usuario registrado correctamente</h2>\n\n    <div class=\"ok\">\n      <p><strong>ID:</strong> ${usuario.id}</p>\n      <p><strong>Nombre:</strong> ${usuario.nombre}</p>\n      <p><strong>Email:</strong> ${usuario.email}</p>\n      <p><strong>Rol:</strong> ${usuario.rol}</p>\n      <p><strong>Dirección:</strong> ${usuario.direccion}</p>\n    </div>\n\n    <p>Este usuario ya puede participar en el flujo del sistema.</p>\n    <a href=\"?accion=usuarios\">Ver usuarios registrados</a>\n  `);\n}\n\nif (accion === \"usuarios\") {\n  const filas = staticData.usuarios.map(u => `\n    <tr>\n      <td>${u.id}</td>\n      <td>${u.nombre}</td>\n      <td>${u.email}</td>\n      <td>${u.rol}</td>\n      <td>${u.direccion}</td>\n    </tr>\n  `).join(\"\");\n\n  return responder(`\n    <h2>Usuarios registrados</h2>\n\n    <table>\n      <tr>\n        <th>ID</th>\n        <th>Nombre</th>\n        <th>Email</th>\n        <th>Rol</th>\n        <th>Dirección</th>\n      </tr>\n      ${filas || `<tr><td colspan=\"5\">No hay usuarios registrados.</td></tr>`}\n    </table>\n  `);\n}\n\nif (accion === \"publicar\") {\n  const donantes = staticData.usuarios.filter(u => u.rol === \"DONANTE\");\n\n  if (donantes.length === 0) {\n    return responder(`\n      <h2>Publicar excedente</h2>\n      <p class=\"error\">Primero debes registrar al menos un usuario con rol Donante.</p>\n      <a href=\"?accion=registro\">Registrar usuario</a>\n    `);\n  }\n\n  const opcionesDonantes = donantes.map(u => `\n    <option value=\"${u.id}\">${u.nombre}</option>\n  `).join(\"\");\n\n  return responder(`\n    <h2>Publicar excedente alimentario</h2>\n\n    <form method=\"GET\">\n      <input type=\"hidden\" name=\"accion\" value=\"guardar_donacion\">\n\n      <label>Donante:</label>\n      <select name=\"donanteId\" required>\n        ${opcionesDonantes}\n      </select>\n\n      <label>Nombre del producto:</label>\n      <input name=\"nombre\" placeholder=\"Ej: Panadería del día\" required>\n\n      <label>Categoría:</label>\n      <select name=\"categoria\" required>\n        <option value=\"Panadería\">Panadería</option>\n        <option value=\"Lácteos\">Lácteos</option>\n        <option value=\"Frutas y verduras\">Frutas y verduras</option>\n        <option value=\"Abarrotes\">Abarrotes</option>\n        <option value=\"Otros\">Otros</option>\n      </select>\n\n      <label>Cantidad:</label>\n      <input name=\"cantidad\" placeholder=\"Ej: 15 kg\" required>\n\n      <label>Fecha y hora de vencimiento:</label>\n      <input name=\"vencimiento\" type=\"datetime-local\" required>\n\n      <label>Cadena de frío:</label>\n      <select name=\"cadenaFrio\">\n        <option value=\"NO\">No requiere</option>\n        <option value=\"SI\">Sí requiere</option>\n      </select>\n\n      <label>Observaciones:</label>\n      <textarea name=\"observaciones\" placeholder=\"Ej: Producto apto para consumo, retirar hoy.\"></textarea>\n\n      <button type=\"submit\">Publicar donación</button>\n    </form>\n  `);\n}\n\nif (accion === \"guardar_donacion\") {\n  const vencimiento = new Date(query.vencimiento);\n  const ahora = new Date();\n  const minimo = new Date(ahora.getTime() + 2 * 60 * 60 * 1000);\n\n  if (vencimiento < minimo) {\n    return responder(`\n      <h2>Error al publicar</h2>\n      <p class=\"error\">La fecha de vencimiento debe ser al menos 2 horas posterior a la publicación.</p>\n      <a href=\"?accion=publicar\">Volver a intentar</a>\n    `);\n  }\n\n  const donante = staticData.usuarios.find(u => String(u.id) === String(query.donanteId));\n\n  const donacion = {\n    id: Date.now(),\n    donanteId: query.donanteId,\n    donanteNombre: donante ? donante.nombre : \"Donante no identificado\",\n    nombre: escapar(query.nombre),\n    categoria: escapar(query.categoria),\n    cantidad: escapar(query.cantidad),\n    vencimiento: query.vencimiento,\n    cadenaFrio: query.cadenaFrio === \"SI\",\n    observaciones: escapar(query.observaciones || \"\"),\n    estado: \"DISPONIBLE\",\n    creadoEn: new Date().toISOString()\n  };\n\n  staticData.donaciones.push(donacion);\n\n  const organizaciones = staticData.usuarios.filter(u => u.rol === \"ONG\");\n\n  organizaciones.forEach(org => {\n    staticData.notificaciones.push({\n      id: Date.now() + Math.random(),\n      usuarioId: org.id,\n      organizacionNombre: org.nombre,\n      donacionId: donacion.id,\n      mensaje: `Nueva donación disponible: ${donacion.nombre} - ${donacion.cantidad}`,\n      fecha: new Date().toISOString(),\n      leida: false\n    });\n  });\n\n  return responder(`\n    <h2>Donación publicada correctamente</h2>\n\n    <div class=\"ok\">\n      <p><strong>Producto:</strong> ${donacion.nombre}</p>\n      <p><strong>Donante:</strong> ${donacion.donanteNombre}</p>\n      <p><strong>Categoría:</strong> ${donacion.categoria}</p>\n      <p><strong>Cantidad:</strong> ${donacion.cantidad}</p>\n      <p><strong>Vencimiento:</strong> ${donacion.vencimiento}</p>\n      <p><strong>Cadena de frío:</strong> ${donacion.cadenaFrio ? \"Sí requiere\" : \"No requiere\"}</p>\n    </div>\n\n    <p>Se generaron alertas para ${organizaciones.length} organización(es) social(es).</p>\n\n    <a href=\"?accion=donaciones\">Ver donaciones</a>\n  `);\n}\n\nif (accion === \"donaciones\") {\n  const disponibles = staticData.donaciones\n    .filter(d => d.estado === \"DISPONIBLE\")\n    .sort((a, b) => new Date(a.vencimiento) - new Date(b.vencimiento));\n\n  const organizaciones = staticData.usuarios.filter(u => u.rol === \"ONG\");\n\n  const opcionesONG = organizaciones.map(u => `\n    <option value=\"${u.id}\">${u.nombre}</option>\n  `).join(\"\");\n\n  const lista = disponibles.map(d => {\n    const horasRestantes = (new Date(d.vencimiento) - new Date()) / 1000 / 60 / 60;\n    const critica = horasRestantes <= 6;\n\n    return `\n      <div class=\"card ${critica ? \"critica\" : \"\"}\">\n        <h3>${d.nombre}</h3>\n\n        ${critica ? `<span class=\"badge\">Urgente</span>` : \"\"}\n        ${d.cadenaFrio ? `<span class=\"badge frio\">Cadena de frío</span>` : \"\"}\n\n        <p><strong>Donante:</strong> ${d.donanteNombre}</p>\n        <p><strong>Categoría:</strong> ${d.categoria}</p>\n        <p><strong>Cantidad:</strong> ${d.cantidad}</p>\n        <p><strong>Vencimiento:</strong> ${d.vencimiento}</p>\n        <p><strong>Estado:</strong> ${d.estado}</p>\n        <p><strong>Observaciones:</strong> ${d.observaciones || \"Sin observaciones\"}</p>\n\n        ${\n          organizaciones.length > 0\n          ? `\n            <form method=\"GET\">\n              <input type=\"hidden\" name=\"accion\" value=\"reservar\">\n              <input type=\"hidden\" name=\"donacionId\" value=\"${d.id}\">\n\n              <label>Organización que reserva:</label>\n              <select name=\"usuarioId\" required>\n                ${opcionesONG}\n              </select>\n\n              <button type=\"submit\">Reservar donación</button>\n            </form>\n          `\n          : `<p class=\"error\">No hay organizaciones sociales registradas para reservar.</p>`\n        }\n      </div>\n    `;\n  }).join(\"\");\n\n  return responder(`\n    <h2>Donaciones disponibles</h2>\n    <p>Las donaciones se muestran ordenadas por fecha de vencimiento más próxima.</p>\n    ${lista || \"<p>No hay donaciones disponibles.</p>\"}\n  `);\n}\n\nif (accion === \"reservar\") {\n  const donacion = staticData.donaciones.find(d => String(d.id) === String(query.donacionId));\n  const organizacion = staticData.usuarios.find(u => String(u.id) === String(query.usuarioId));\n\n  if (!donacion || donacion.estado !== \"DISPONIBLE\") {\n    return responder(`\n      <h2>No se pudo reservar</h2>\n      <p class=\"error\">La donación ya no está disponible.</p>\n      <a href=\"?accion=donaciones\">Volver a donaciones</a>\n    `);\n  }\n\n  if (!organizacion || organizacion.rol !== \"ONG\") {\n    return responder(`\n      <h2>No se pudo reservar</h2>\n      <p class=\"error\">Solo una organización social puede reservar donaciones.</p>\n      <a href=\"?accion=donaciones\">Volver a donaciones</a>\n    `);\n  }\n\n  donacion.estado = \"RESERVADA\";\n\n  const reserva = {\n    id: Date.now(),\n    donacionId: donacion.id,\n    producto: donacion.nombre,\n    usuarioId: organizacion.id,\n    organizacionNombre: organizacion.nombre,\n    codigoQR: `QR-${donacion.id}-${organizacion.id}`,\n    fechaReserva: new Date().toISOString(),\n    estado: \"ACTIVA\"\n  };\n\n  staticData.reservas.push(reserva);\n\n  return responder(`\n    <h2>Donación reservada correctamente</h2>\n\n    <div class=\"ok\">\n      <p><strong>Producto:</strong> ${donacion.nombre}</p>\n      <p><strong>Reservada por:</strong> ${organizacion.nombre}</p>\n      <p><strong>Estado:</strong> RESERVADA</p>\n      <p><strong>Código QR simulado:</strong></p>\n      <h3>${reserva.codigoQR}</h3>\n    </div>\n\n    <p>Este QR simula la validación de retiro de la donación.</p>\n    <a href=\"?accion=reservas\">Ver reservas</a>\n  `);\n}\n\nif (accion === \"notificaciones\") {\n  const organizaciones = staticData.usuarios.filter(u => u.rol === \"ONG\");\n\n  if (organizaciones.length === 0) {\n    return responder(`\n      <h2>Notificaciones ONG</h2>\n      <p class=\"error\">No hay organizaciones sociales registradas.</p>\n      <a href=\"?accion=registro\">Registrar organización</a>\n    `);\n  }\n\n  const opcionesONG = organizaciones.map(u => `\n    <option value=\"${u.id}\">${u.nombre}</option>\n  `).join(\"\");\n\n  if (!query.usuarioId) {\n    return responder(`\n      <h2>Consultar notificaciones</h2>\n\n      <form method=\"GET\">\n        <input type=\"hidden\" name=\"accion\" value=\"notificaciones\">\n\n        <label>Organización Social:</label>\n        <select name=\"usuarioId\" required>\n          ${opcionesONG}\n        </select>\n\n        <button type=\"submit\">Ver notificaciones</button>\n      </form>\n    `);\n  }\n\n  const notificaciones = staticData.notificaciones.filter(n => String(n.usuarioId) === String(query.usuarioId));\n\n  const lista = notificaciones.map(n => `\n    <div class=\"card\">\n      <p>${n.mensaje}</p>\n      <p><strong>Fecha:</strong> ${n.fecha}</p>\n    </div>\n  `).join(\"\");\n\n  return responder(`\n    <h2>Notificaciones de la organización</h2>\n    ${lista || \"<p>No hay notificaciones registradas.</p>\"}\n  `);\n}\n\nif (accion === \"reservas\") {\n  const lista = staticData.reservas.map(r => `\n    <div class=\"card\">\n      <h3>${r.producto}</h3>\n      <p><strong>Organización:</strong> ${r.organizacionNombre}</p>\n      <p><strong>Fecha reserva:</strong> ${r.fechaReserva}</p>\n      <p><strong>Estado:</strong> ${r.estado}</p>\n      <p><strong>QR:</strong> ${r.codigoQR}</p>\n    </div>\n  `).join(\"\");\n\n  return responder(`\n    <h2>Reservas registradas</h2>\n    ${lista || \"<p>No hay reservas registradas.</p>\"}\n  `);\n}\n\nreturn responder(`\n  <h2>Acción no reconocida</h2>\n  <p>La acción solicitada no existe.</p>\n`);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "0e044186-5d77-47a3-ae60-15d47bf59121",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0889b8c6-a8c7-4c69-949b-3bbf450102ba",
  "meta": {
    "instanceId": "d2306f0a7c7290ea1139fe64b3db6dbc49e7b66b7579a1a685414581b2c1d8cc"
  },
  "id": "1hTf6fb61QzjqQcy",
  "tags": []
}