workflows/flujo-integrado-excedentes-alimentarios.json
{
  "nodes": [
    {
      "parameters": {
        "path": "69754dbb-8831-45fa-9478-cf158b95fbe4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        192
      ],
      "id": "083543eb-d939-476e-96d2-34953e5ad16a",
      "name": "Webhook Frontend",
      "webhookId": "69754dbb-8831-45fa-9478-cf158b95fbe4"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst query = input.query || {};\nconst accion = query.accion || \"inicio\";\n\nfunction escapar(texto) {\n  if (!texto) return \"\";\n  return String(texto)\n    .replaceAll(\"'\", \"''\")\n    .replaceAll(\"\\\\\", \"\\\\\\\\\");\n}\n\nfunction numeroSQL(valor) {\n  if (valor === undefined || valor === null || valor === \"\") return \"NULL\";\n  const normalizado = String(valor).replace(\",\", \".\");\n  const n = Number(normalizado);\n  return Number.isFinite(n) ? n : \"NULL\";\n}\n\nfunction htmlBase(contenido) {\n  return `<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\">\n  <title>Plataforma de Excedentes Alimentarios</title>\n  <style>\n    body{font-family:Arial,sans-serif;background:#f4f7f5;margin:0;padding:0}\n    header{background:#2e7d32;color:white;padding:25px;text-align:center}\n    main{width:90%;max-width:950px;margin:30px auto;background:white;padding:25px;border-radius:12px;box-shadow:0 2px 12px rgba(0,0,0,.12)}\n    nav a{display:inline-block;margin:6px;padding:9px 13px;background:#e8f5e9;color:#2e7d32;text-decoration:none;border-radius:6px;font-weight:bold}\n    nav a:hover{background:#c8e6c9} nav a.alerta{background:#ffebee;color:#c62828}\n    input,select,textarea,button{width:100%;padding:10px;margin:8px 0 14px 0;border-radius:6px;border:1px solid #ccc;box-sizing:border-box}\n    button{background:#2e7d32;color:white;border:none;cursor:pointer;font-weight:bold}\n    button.btn-rojo{background:#c62828}\n    .card{border:1px solid #ddd;border-left:6px solid #2e7d32;padding:15px;margin:15px 0;border-radius:8px;background:#fafafa}\n    .critica{border-left-color:#d32f2f;background:#fff3f3}\n    .vencida{border-left-color:#7b1fa2;background:#f3e5f5}\n    .merma{border-left-color:#f57c00;background:#fff8e1}\n    .badge{display:inline-block;background:#d32f2f;color:white;padding:4px 8px;border-radius:5px;font-size:12px;margin-right:6px}\n    .badge-vencido{background:#7b1fa2} .frio{background:#0277bd} .badge-merma{background:#f57c00}\n    .ok{background:#e8f5e9;border-left:6px solid #2e7d32;padding:12px;border-radius:8px}\n    .error{background:#ffebee;border-left:6px solid #d32f2f;padding:12px;border-radius:8px}\n    .advertencia{background:#fff3e0;border-left:6px solid #e65100;padding:12px;border-radius:8px;margin-bottom:16px}\n    table{width:100%;border-collapse:collapse;margin-top:15px}\n    th,td{border:1px solid #ddd;padding:10px;text-align:left} th{background:#e8f5e9}\n  </style></head><body>\n  <header><h1>Plataforma de Gestión de Excedentes Alimentarios</h1><p>n8n + Docker + PostgreSQL</p></header>\n  <main>\n    <nav>\n      <a href=\"?accion=inicio\">Inicio</a>\n      <a href=\"?accion=registro\">Registrar usuario</a>\n      <a href=\"?accion=usuarios\">Usuarios</a>\n      <a href=\"?accion=ubicacion\">📍 Ubicación</a>\n      <a href=\"?accion=sucursales\">🏬 Sucursales</a>\n      <a href=\"?accion=verificar_ong\">✅ Verificar ONG</a>\n      <a href=\"?accion=publicar\">Publicar excedente</a>\n      <a href=\"?accion=publicar_vencido\" class=\"alerta\">⚠️ Reportar vencido</a>\n      <a href=\"?accion=publicar_merma\">🛍️ Merma estética</a>\n      <a href=\"?accion=donaciones\">Ver donaciones</a>\n      <a href=\"?accion=notificaciones\">Notificaciones ONG</a>\n      <a href=\"?accion=reservas\">Reservas</a>\n      <a href=\"?accion=formulario_qr\" class=\"alerta\">🔍 Validar QR</a>\n      <a href=\"?accion=reporte_kilos\">📊 Reporte kilos</a>\n      <a href=\"?accion=certificado\">🌱 Certificado ambiental</a>\n      <a href=\"?accion=historial_proveedor\">📋 Historial proveedor</a>\n    </nav><hr>${contenido}\n  </main></body></html>`;\n}\n\n// ── Acciones sin SQL ──────────────────────────────────────────────────────\nif (accion === \"inicio\") {\n  return [{ json: { accion, query, sqlType: \"none\", accionPendiente: null,\n    html: htmlBase(`\n      <h2>Bienvenido al sistema</h2>\n      <ul>\n        <li>Registro de usuarios Donante y Organización Social</li>\n        <li>Verificación documental de ONGs</li>\n        <li>Configuración de ubicación geográfica exacta</li>\n        <li>Gestión de sucursales por donante</li>\n        <li>Publicación de excedentes alimentarios</li>\n        <li>Validación de vencimiento y cadena de frío</li>\n        <li>Alertas push para ONGs vía ntfy</li>\n        <li>Reserva de donaciones con QR simulado</li>\n        <li>Validación de entrega mediante código QR</li>\n        <li>Publicación de merma estética</li>\n        <li>Filtrado por tipo de dieta</li>\n        <li><strong>Persistencia en PostgreSQL</strong></li>\n      </ul>\n      <p class=\"ok\"><strong>Estado:</strong> n8n + Docker + PostgreSQL funcionando.</p>\n    `)\n  }}];\n}\n\nif (accion === \"registro\") {\n  return [{ json: { accion, query, sqlType: \"none\", accionPendiente: null,\n    html: htmlBase(`\n      <h2>Registrar usuario</h2>\n      <form method=\"GET\">\n        <input type=\"hidden\" name=\"accion\" value=\"guardar_usuario\">\n\n        <label>Nombre:</label>\n        <input name=\"nombre\" required>\n\n        <label>Email:</label>\n        <input name=\"email\" type=\"email\" required>\n\n        <label>Rol:</label>\n        <select name=\"rol\" required>\n          <option value=\"DONANTE\">Donante</option>\n          <option value=\"ONG\">Organización Social</option>\n        </select>\n\n        <label>Dirección:</label>\n        <input name=\"direccion\" required>\n\n        <label>Comuna:</label>\n        <input name=\"comuna\" placeholder=\"Ej: Viña del Mar, Valparaíso, Santiago Centro\">\n\n        <label>Latitud:</label>\n        <input name=\"latitud\" placeholder=\"Ej: -33.0153\">\n\n        <label>Longitud:</label>\n        <input name=\"longitud\" placeholder=\"Ej: -71.5500\">\n\n        <label>Documento legal ONG:</label>\n        <input name=\"documentoLegal\" placeholder=\"Ej: RUT, certificado municipal, link del documento\">\n\n        <p class=\"advertencia\">Si el usuario es ONG, quedará con estado PENDIENTE hasta que el administrador la verifique.</p>\n\n        <button type=\"submit\">Guardar usuario</button>\n      </form>\n    `)\n  }}];\n}\n\n// ── Acciones con SELECT ───────────────────────────────────────────────────\nif (accion === \"publicar\") {\n  return [{ json: { accion, query, sqlType: \"select\",\n    sql: `SELECT \n            u.*,\n            u.id AS donante_id,\n            u.nombre AS donante_nombre,\n            u.email AS donante_email,\n            u.direccion AS donante_direccion,\n            s.id AS sucursal_id,\n            s.nombre AS sucursal_nombre,\n            s.direccion AS sucursal_direccion,\n            s.comuna AS sucursal_comuna,\n            s.latitud AS sucursal_latitud,\n            s.longitud AS sucursal_longitud\n          FROM usuarios u\n          LEFT JOIN sucursales s \n            ON s.donante_id = u.id \n           AND s.activa = TRUE\n          WHERE u.rol = 'DONANTE'\n          ORDER BY u.nombre ASC, s.nombre ASC;`\n  }}];\n}\n\nif (accion === \"publicar_vencido\") {\n  return [{ json: { accion, query, sqlType: \"select\",\n    sql: \"SELECT * FROM usuarios WHERE rol = 'DONANTE' ORDER BY nombre;\"\n  }}];\n}\n\nif (accion === \"usuarios\") {\n  return [{ json: { accion, query, sqlType: \"select\",\n    sql: \"SELECT * FROM usuarios ORDER BY creado_en DESC;\"\n  }}];\n}\n\n// ── HU-03: Gestionar sucursales del donante ─────────────────────────────────\nif (accion === \"sucursales\") {\n  return [{ json: { accion, query, sqlType: \"select\", accionPendiente: null,\n    sql: `SELECT \n            u.id AS donante_id,\n            u.nombre AS donante_nombre,\n            u.email AS donante_email,\n            s.id AS sucursal_id,\n            s.nombre AS sucursal_nombre,\n            s.direccion AS sucursal_direccion,\n            s.comuna AS sucursal_comuna,\n            s.latitud AS sucursal_latitud,\n            s.longitud AS sucursal_longitud,\n            s.activa AS sucursal_activa,\n            s.creado_en AS sucursal_creado_en\n          FROM usuarios u\n          LEFT JOIN sucursales s ON s.donante_id = u.id\n          WHERE u.rol = 'DONANTE'\n          ORDER BY u.nombre ASC, s.nombre ASC;`\n  }}];\n}\n\nif (accion === \"guardar_sucursal\") {\n  return [{ json: { accion, query, sqlType: \"insert\", accionPendiente: null,\n    sql: `INSERT INTO sucursales (donante_id, nombre, direccion, comuna, latitud, longitud, activa)\n          VALUES (${Number(query.donanteId)},\n                  '${escapar(query.nombreSucursal)}',\n                  '${escapar(query.direccion || \"\")}',\n                  '${escapar(query.comuna || \"\")}',\n                  ${numeroSQL(query.latitud)},\n                  ${numeroSQL(query.longitud)},\n                  TRUE)\n          RETURNING *;`\n  }}];\n}\n\nif (accion === \"cambiar_estado_sucursal\") {\n  return [{ json: { accion, query, sqlType: \"insert\", accionPendiente: null,\n    sql: `UPDATE sucursales\n          SET activa = ${query.activa === \"true\"}\n          WHERE id = ${Number(query.sucursalId)}\n          RETURNING *;`\n  }}];\n}\n\n// ── HU-02: Configurar ubicación geográfica exacta ────────────────────────────\nif (accion === \"ubicacion\") {\n  return [{ json: { accion, query, sqlType: \"select\", accionPendiente: null,\n    sql: `SELECT id, nombre, email, rol, direccion, comuna, latitud, longitud\n          FROM usuarios\n          ORDER BY nombre ASC;`\n  }}];\n}\n\nif (accion === \"actualizar_ubicacion\") {\n  return [{ json: { accion, query, sqlType: \"insert\", accionPendiente: null,\n    sql: `UPDATE usuarios\n          SET direccion = '${escapar(query.direccion || \"\")}',\n              comuna = '${escapar(query.comuna || \"\")}',\n              latitud = ${numeroSQL(query.latitud)},\n              longitud = ${numeroSQL(query.longitud)}\n          WHERE id = ${Number(query.usuarioId)}\n          RETURNING *;`\n  }}];\n}\n\nif (accion === \"donaciones\") {\n  const filtro = escapar(query.dieta || \"\");\n  const whereDieta = filtro && filtro !== \"TODOS\"\n    ? `AND d.tipo_dieta = '${filtro}'`\n    : \"\";\n  return [{ json: { accion, query, sqlType: \"select\",\n    sql: `SELECT d.*, \n                 u.id as ong_id, \n                 u.nombre as ong_nombre,\n                 u.estado_verificacion as ong_estado_verificacion\n          FROM donaciones d \n          LEFT JOIN usuarios u ON u.rol = 'ONG'\n          WHERE d.estado = 'DISPONIBLE' ${whereDieta} \n          ORDER BY d.vencimiento ASC;`\n  }}];\n}\n\nif (accion === \"notificaciones\") {\n  if (!query.usuarioId) {\n    return [{ json: { accion, query, sqlType: \"select\",\n      sql: \"SELECT * FROM usuarios WHERE rol = 'ONG' ORDER BY nombre;\"\n    }}];\n  }\n  return [{ json: { accion, query, sqlType: \"select\",\n    sql: `SELECT * FROM notificaciones WHERE usuario_id = ${Number(query.usuarioId)} ORDER BY fecha DESC;`\n  }}];\n}\n\n// ── HU-15: Historial de donaciones por proveedor ─────────────────────────────\nif (accion === \"historial_proveedor\") {\n  if (!query.usuarioId) {\n    return [{ json: { accion, query, sqlType: \"select\", accionPendiente: null,\n      sql: \"SELECT * FROM usuarios WHERE rol = 'ONG' ORDER BY nombre;\"\n    }}];\n  }\n\n  return [{ json: { accion, query, sqlType: \"select\", accionPendiente: null,\n    sql: `SELECT \n            d.donante_id,\n            d.donante_nombre,\n            d.nombre AS producto,\n            d.categoria,\n            d.cantidad,\n            d.vencimiento,\n            r.fecha_reserva,\n            r.fecha_entrega,\n            r.estado AS estado_reserva,\n            r.organizacion_nombre\n          FROM reservas r\n          JOIN donaciones d ON d.id = r.donacion_id\n          WHERE r.usuario_id = ${Number(query.usuarioId)}\n            AND r.estado = 'COMPLETADA'\n          ORDER BY d.donante_nombre ASC, r.fecha_entrega DESC;`\n  }}];\n}\n\n// ── HU-01: Verificación de documentos legales de ONG ────────────────────────\nif (accion === \"verificar_ong\") {\n  return [{ json: { accion, query, sqlType: \"select\", accionPendiente: null,\n    sql: `SELECT id, nombre, email, direccion, documento_legal, estado_verificacion, observacion_verificacion, creado_en\n          FROM usuarios\n          WHERE rol = 'ONG'\n          ORDER BY creado_en DESC;`\n  }}];\n}\n\nif (accion === \"actualizar_verificacion\") {\n  const estadosPermitidos = [\"PENDIENTE\", \"VERIFICADA\", \"RECHAZADA\"];\n  const estado = estadosPermitidos.includes(query.estado) ? query.estado : \"PENDIENTE\";\n\n  return [{ json: { accion, query, sqlType: \"insert\", accionPendiente: null,\n    sql: `UPDATE usuarios\n          SET estado_verificacion = '${estado}',\n              observacion_verificacion = '${escapar(query.observacion || \"\")}'\n          WHERE id = ${Number(query.usuarioId)} AND rol = 'ONG'\n          RETURNING *;`\n  }}];\n}\n\nif (accion === \"reservas\") {\n  return [{ json: { accion, query, sqlType: \"select\",\n    sql: \"SELECT * FROM reservas ORDER BY fecha_reserva DESC;\"\n  }}];\n}\n\n// ── HU-05: Merma estética ─────────────────────────────────────────────────\nif (accion === \"publicar_merma\") {\n  return [{ json: { accion, query, sqlType: \"select\", accionPendiente: null,\n    sql: \"SELECT * FROM usuarios WHERE rol = 'DONANTE' ORDER BY nombre;\"\n  }}];\n}\n\nif (accion === \"guardar_merma\") {\n  const vencimiento = new Date(query.vencimiento);\n  const minimo = new Date(Date.now() + 2 * 60 * 60 * 1000);\n  if (vencimiento < minimo) {\n    return [{ json: { accion, query, sqlType: \"none\", accionPendiente: null,\n      html: htmlBase(`<h2>Error</h2><p class=\"error\">La fecha debe ser al menos 2 horas desde ahora.</p><a href=\"?accion=publicar_merma\">Volver</a>`)\n    }}];\n  }\n  return [{ json: { accion, query, sqlType: \"insert\", accionPendiente: null,\n    sql: `INSERT INTO donaciones (donante_id, donante_nombre, nombre, categoria, cantidad, vencimiento, cadena_frio, observaciones, estado, tipo_excedente, tipo_merma)\n          VALUES (${Number(query.donanteId)},\n                 (SELECT nombre FROM usuarios WHERE id = ${Number(query.donanteId)}),\n                 '${escapar(query.nombre)}', '${escapar(query.categoria)}',\n                 ${Number(query.cantidad)}, '${query.vencimiento}',\n                 ${query.cadenaFrio === \"SI\"}, '${escapar(query.estadoReal || \"\")}',\n                 'DISPONIBLE', 'MERMA_ESTETICA', '${escapar(query.tipoMerma)}')\n          RETURNING *;`\n  }}];\n}\n\n// ── Acciones con INSERT ───────────────────────────────────────────────────\nif (accion === \"guardar_usuario\") {\n  const rol = query.rol === \"ONG\" ? \"ONG\" : \"DONANTE\";\n  const estadoVerificacion = rol === \"ONG\" ? \"PENDIENTE\" : \"NO_APLICA\";\n\n  return [{ json: { accion, query, sqlType: \"insert\", accionPendiente: null,\n    sql: `INSERT INTO usuarios (nombre, email, rol, direccion, comuna, latitud, longitud, documento_legal, estado_verificacion)\n          VALUES ('${escapar(query.nombre)}', '${escapar(query.email)}', \n                  '${rol}', '${escapar(query.direccion)}',\n                  '${escapar(query.comuna || \"\")}',\n                  ${numeroSQL(query.latitud)},\n                  ${numeroSQL(query.longitud)},\n                  '${escapar(query.documentoLegal || \"\")}', '${estadoVerificacion}')\n          ON CONFLICT (email) DO UPDATE SET\n            nombre = EXCLUDED.nombre,\n            rol = EXCLUDED.rol,\n            direccion = EXCLUDED.direccion,\n            comuna = EXCLUDED.comuna,\n            latitud = EXCLUDED.latitud,\n            longitud = EXCLUDED.longitud,\n            documento_legal = EXCLUDED.documento_legal,\n            estado_verificacion = CASE\n              WHEN EXCLUDED.rol = 'ONG' AND usuarios.estado_verificacion IN ('VERIFICADA', 'RECHAZADA') THEN usuarios.estado_verificacion\n              WHEN EXCLUDED.rol = 'ONG' THEN 'PENDIENTE'\n              ELSE 'NO_APLICA'\n            END\n          RETURNING *;`\n  }}];\n}\n\nif (accion === \"guardar_donacion\") {\n  const sucursalId = query.sucursalId ? Number(query.sucursalId) : null;\n  const sucursalSQL = sucursalId ? sucursalId : \"NULL\";\n  const sucursalNombreSQL = sucursalId\n    ? `(SELECT nombre FROM sucursales WHERE id = ${sucursalId} AND donante_id = ${Number(query.donanteId)})`\n    : \"NULL\";\n\n  return [{ json: { accion, query, sqlType: \"insert\",\n    accionPendiente: \"guardar_donacion\",\n    payload: { \n      nombre_producto: escapar(query.nombre), \n      categoria: query.categoria, \n      cantidad: query.cantidad, \n      fecha_vencimiento: query.vencimiento \n    },\n    sql: `INSERT INTO donaciones (\n            donante_id, donante_nombre, nombre, categoria, cantidad, vencimiento, \n            cadena_frio, observaciones, estado, tipo_dieta, sucursal_id, sucursal_nombre\n          )\n          VALUES (${Number(query.donanteId)},\n                 (SELECT nombre FROM usuarios WHERE id=${Number(query.donanteId)}),\n                 '${escapar(query.nombre)}', '${escapar(query.categoria)}',\n                 ${Number(query.cantidad)}, '${query.vencimiento}',\n                 ${query.cadenaFrio === \"SI\"}, '${escapar(query.observaciones||\"\")}', \n                 'DISPONIBLE',\n                 '${escapar(query.tipoDieta || \"SIN_RESTRICCION\")}',\n                 ${sucursalSQL},\n                 ${sucursalNombreSQL})\n          RETURNING *;`\n  }}];\n}\n\nif (accion === \"guardar_vencido\") {\n  if (new Date(query.vencimiento) >= new Date()) {\n    return [{ json: { accion, query, sqlType: \"none\", accionPendiente: null,\n      html: htmlBase(`<h2>Error</h2><p class=\"error\">La fecha aún no ha vencido. Usa <a href=\"?accion=publicar\">Publicar excedente</a>.</p>`)\n    }}];\n  }\n  return [{ json: { accion, query, sqlType: \"insert\",\n    accionPendiente: \"guardar_vencido\",\n    payload: { nombre_producto: escapar(query.nombre), categoria: query.categoria, cantidad: query.cantidad, fecha_vencimiento: query.vencimiento },\n    sql: `INSERT INTO donaciones (donante_id, donante_nombre, nombre, categoria, cantidad, vencimiento, cadena_frio, observaciones, estado)\n          VALUES (${Number(query.donanteId)},\n                 (SELECT nombre FROM usuarios WHERE id=${Number(query.donanteId)}),\n                 '${escapar(query.nombre)}', '${escapar(query.categoria)}',\n                 ${Number(query.cantidad)}, '${query.vencimiento}',\n                 false, '${escapar(query.observaciones||\"\")}', 'VENCIDO')\n          RETURNING *;`\n  }}];\n}\n\nif (accion === \"reservar\") {\n  return [{ json: { accion, query, sqlType: \"insert\", accionPendiente: null,\n    sql: `WITH ong_ok AS (\n            SELECT id, nombre \n            FROM usuarios \n            WHERE id = ${Number(query.usuarioId)}\n              AND rol = 'ONG'\n              AND estado_verificacion = 'VERIFICADA'\n          ),\n          upd AS (\n            UPDATE donaciones SET estado = 'RESERVADA'\n            WHERE id = ${Number(query.donacionId)}\n              AND estado = 'DISPONIBLE'\n              AND EXISTS (SELECT 1 FROM ong_ok)\n            RETURNING *\n          ),\n          ins AS (\n            INSERT INTO reservas (donacion_id, producto, usuario_id, organizacion_nombre, codigo_qr)\n            SELECT upd.id, upd.nombre,\n                   (SELECT id FROM ong_ok),\n                   (SELECT nombre FROM ong_ok),\n                   'QR-' || upd.id || '-' || (SELECT id FROM ong_ok)\n            FROM upd RETURNING *\n          )\n          SELECT ins.*, \n                 COALESCE(s.direccion, u.direccion) AS direccion_donante,\n                 COALESCE(s.comuna, u.comuna) AS comuna_donante,\n                 COALESCE(s.latitud, u.latitud) AS latitud_donante,\n                 COALESCE(s.longitud, u.longitud) AS longitud_donante,\n                 s.nombre AS sucursal_nombre,\n                 d.cadena_frio\n          FROM ins\n          JOIN donaciones d ON d.id = ins.donacion_id\n          JOIN usuarios u ON u.id = d.donante_id\n          LEFT JOIN sucursales s ON s.id = d.sucursal_id;`\n  }}];\n}\n\n// ── HU-11: Formulario de validación QR ───────────────────────────────────────\nif (accion === \"formulario_qr\") {\n  return [{ json: { accion, query, sqlType: \"none\", accionPendiente: null,\n    html: htmlBase(`\n      <h2>🔍 Validar entrega por código QR</h2>\n      <div class=\"advertencia\">\n        <strong>Instrucción:</strong> Ingresa el código QR generado durante la reserva para confirmar que el donante entregó el producto.\n      </div>\n      <form method=\"GET\">\n        <input type=\"hidden\" name=\"accion\" value=\"validar_qr\">\n        <label>Código QR de retiro:</label>\n        <input name=\"codigo_qr\" placeholder=\"Ej: QR-1748304729-5\" required>\n        <button type=\"submit\">✅ Validar entrega</button>\n      </form>\n    `)\n  }}];\n}\n\n// ── HU-11: Ejecutar validación QR con transacción PostgreSQL ─────────────────\nif (accion === \"validar_qr\") {\n  const codigoQr = escapar(query.codigo_qr || \"\");\n  if (!codigoQr) {\n    return [{ json: { accion, query, sqlType: \"none\", accionPendiente: null,\n      html: htmlBase(`<h2>Error</h2><p class=\"error\">Debes ingresar un código QR.</p><a href=\"?accion=formulario_qr\">Volver</a>`)\n    }}];\n  }\n  return [{ json: { accion, query, sqlType: \"insert\", accionPendiente: null,\n    sql: `\n      WITH verificacion AS (\n        SELECT r.id AS reserva_id, r.donacion_id, r.usuario_id,\n               r.organizacion_nombre, r.estado AS reserva_estado,\n               r.codigo_qr, r.fecha_reserva,\n               d.nombre AS producto, d.cantidad,\n               d.donante_id, d.donante_nombre\n        FROM reservas r\n        JOIN donaciones d ON d.id = r.donacion_id\n        WHERE r.codigo_qr = '${codigoQr}'\n      ),\n      actualizar_reserva AS (\n        UPDATE reservas\n        SET estado = 'COMPLETADA', fecha_entrega = NOW()\n        WHERE codigo_qr = '${codigoQr}' AND estado = 'ACTIVA'\n        RETURNING id, fecha_entrega\n      ),\n      actualizar_donacion AS (\n        UPDATE donaciones\n        SET estado = 'ENTREGADA'\n        WHERE id = (SELECT donacion_id FROM verificacion)\n          AND EXISTS (SELECT 1 FROM actualizar_reserva)\n        RETURNING id\n      ),\n      insertar_notif AS (\n        INSERT INTO notificaciones (usuario_id, donacion_id, mensaje, es_alerta_vencido)\n        SELECT v.donante_id, v.donacion_id,\n          '✅ Entrega confirmada: ' || v.organizacion_nombre ||\n          ' retiró ' || v.cantidad || ' unidades de ' || v.producto ||\n          '. Código QR: ' || v.codigo_qr,\n          false\n        FROM verificacion v\n        WHERE EXISTS (SELECT 1 FROM actualizar_reserva)\n        RETURNING id\n      )\n      SELECT v.*,\n        ar.fecha_entrega,\n        (SELECT COUNT(*) FROM actualizar_reserva)  AS reserva_actualizada,\n        (SELECT COUNT(*) FROM actualizar_donacion)  AS donacion_actualizada,\n        (SELECT COUNT(*) FROM insertar_notif)        AS notif_insertada\n      FROM verificacion v\n      LEFT JOIN actualizar_reserva ar ON true;\n    `\n  }}];\n}\n\n// ── HU-13: Reporte de kilos rescatados ───────────────────────────────────────\nif (accion === \"reporte_kilos\") {\n  return [{ json: { accion, query, sqlType: \"select\", accionPendiente: null,\n    sql: `SELECT \n            TO_CHAR(DATE_TRUNC('month', r.fecha_entrega), 'YYYY-MM') AS mes,\n            TO_CHAR(DATE_TRUNC('month', r.fecha_entrega), 'Month YYYY') AS mes_nombre,\n            COUNT(r.id) AS total_entregas,\n            COALESCE(SUM(d.cantidad), 0) AS total_kilos\n          FROM reservas r\n          JOIN donaciones d ON d.id = r.donacion_id\n          WHERE r.estado = 'COMPLETADA' AND r.fecha_entrega IS NOT NULL\n          GROUP BY DATE_TRUNC('month', r.fecha_entrega)\n          ORDER BY DATE_TRUNC('month', r.fecha_entrega) DESC;`\n  }}];\n}\n\n// ── HU-14: Certificado de impacto ambiental ───────────────────────────────────\nif (accion === \"certificado\") {\n  return [{ json: { accion, query, sqlType: \"select\", accionPendiente: null,\n    sql: `SELECT \n            u.id,\n            u.nombre,\n            u.email,\n            u.direccion,\n            COUNT(r.id) AS total_entregas,\n            COALESCE(SUM(CASE WHEN r.estado = 'COMPLETADA' THEN d.cantidad ELSE 0 END), 0) AS total_kilos,\n            ROUND(COALESCE(SUM(CASE WHEN r.estado = 'COMPLETADA' THEN d.cantidad ELSE 0 END), 0) * 2.5) AS co2_evitado\n          FROM usuarios u\n          LEFT JOIN donaciones d ON d.donante_id = u.id\n          LEFT JOIN reservas r ON r.donacion_id = d.id\n          WHERE u.rol = 'DONANTE'\n          GROUP BY u.id, u.nombre, u.email, u.direccion\n          ORDER BY total_kilos DESC;`\n  }}];\n}\n\nreturn [{ json: { accion, query, sqlType: \"none\", accionPendiente: null,\n  html: htmlBase(`<h2>Acción no reconocida</h2><p>La acción <strong>${accion}</strong> no existe.</p>`)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        192
      ],
      "id": "76093a2a-8c1e-46f0-b4a0-96fa962a31f1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1472,
        512
      ],
      "id": "0e480e90-5ffa-49f0-bb33-28ed6e1a45c7",
      "name": "Respond to Webhook (otras acciones)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee6637b9-1263-4a8a-87be-7b055f490ad9",
              "leftValue": "={{ $json.payload.fecha_vencimiento }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        208
      ],
      "id": "a080a323-a082-4245-8176-82d2d2aaf5bb",
      "name": "Validar fecha vencimiento"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0e34b33-7bb5-4c5a-bed9-f88c880f88ba",
              "name": "es_urgente",
              "value": "={{ DateTime.fromISO($json.payload.fecha_vencimiento) <= $now.plus(2, 'days') }}",
              "type": "boolean"
            },
            {
              "id": "pass-html",
              "name": "html",
              "value": "={{ $json.html }}",
              "type": "string"
            },
            {
              "id": "pass-payload",
              "name": "payload",
              "value": "={{ $json.payload }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        240
      ],
      "id": "a60063fc-8597-42b3-ae41-ed05950f9e0b",
      "name": "Calcular urgencia"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/rescate_alimentos_italo",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.accionPendiente === 'guardar_vencido' ? '⚠️ ALERTA PRODUCTO VENCIDO: ' + $('Calcular urgencia').first().json.payload.nombre_producto + ' (' + $('Calcular urgencia').first().json.payload.cantidad + ' unidades). Vencido el ' + $('Calcular urgencia').first().json.payload.fecha_vencimiento + '. Requiere atención inmediata.' : '¡Atención ONG! Tenemos ' + $('Calcular urgencia').first().json.payload.cantidad + ' unidades de ' + $('Calcular urgencia').first().json.payload.nombre_producto + ' disponibles. Vencen el ' + $('Calcular urgencia').first().json.payload.fecha_vencimiento + '.' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1744,
        272
      ],
      "id": "f9610541-e0ad-4d64-a721-137f24e797e0",
      "name": "Notificación Push (ntfy)"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Calcular urgencia').first().json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1904,
        288
      ],
      "id": "ab359dc5-8c01-42af-83a8-f1c82be90bc1",
      "name": "Respond to Webhook (donación)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-accion-vencido",
              "leftValue": "={{ $json.accionPendiente }}",
              "rightValue": "guardar_vencido",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        448
      ],
      "id": "a0654e0e-a156-46f3-9053-a9102dbfa9e1",
      "name": "¿Es producto vencido?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "af29f101-2390-4a2b-a968-776802fec421",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "wNBbPvimX8KcwNWz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-accion-donacion",
              "leftValue": "={{ $json.accionPendiente }}",
              "rightValue": "guardar_donacion",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        416
      ],
      "id": "b9804add-9e82-4b9e-877a-3900c2ab1441",
      "name": "¿Es nueva donación?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ffe40327-7650-4e62-8dff-64551aac798b",
              "leftValue": "={{ $json.sqlType }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        192
      ],
      "id": "c64be5e3-638d-4248-9288-d3423977f359",
      "name": "¿Necesita SQL?"
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Code in JavaScript').first().json;\nconst accion = meta.accion || \"inicio\";\nconst query = meta.query || {};\n\n// Si ya viene HTML listo (inicio, registro, error fecha), devolver directo\nif (meta.html) {\n  return [{ json: { html: meta.html, accionPendiente: null }}];\n}\n\n// Obtener rows correctamente según la ruta\nlet rows = [];\n\nif (accion === \"reservar\") {\n  rows = $('Execute a SQL query').all().map(i => i.json);\n} else if (accion === \"validar_qr\") {\n  rows = $('Execute a SQL query').all().map(i => i.json);\n} else {\n  try {\n    const notifData = $('Insertar Notificaciones').first().json;\n    if (notifData && notifData.rows && notifData.rows.length > 0) {\n      rows = notifData.rows;\n    } else {\n      rows = $input.all().map(i => i.json);\n    }\n  } catch(e) {\n    rows = $input.all().map(i => i.json);\n  }\n}\n\nfunction formatFecha(fecha) {\n  if (!fecha) return '';\n  return new Date(fecha).toLocaleString('es-CL', {\n    timeZone: 'America/Santiago',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit'\n  });\n}\n\nfunction hasCoords(lat, lng) {\n  return lat !== null && lat !== undefined && lat !== \"\" &&\n         lng !== null && lng !== undefined && lng !== \"\";\n}\n\nfunction numeroMapa(valor) {\n  if (valor === null || valor === undefined || valor === \"\") return null;\n  const n = Number(String(valor).replace(\",\", \".\"));\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction mapaOSM(lat, lng, titulo = \"Mapa\") {\n  const la = numeroMapa(lat);\n  const lo = numeroMapa(lng);\n\n  if (la === null || lo === null) {\n    return `\n      <div class=\"advertencia\">\n        Ingresa latitud y longitud para mostrar el mapa.\n      </div>\n    `;\n  }\n\n  const delta = 0.01;\n  const bbox = `${lo - delta}%2C${la - delta}%2C${lo + delta}%2C${la + delta}`;\n  const osmLink = `https://www.openstreetmap.org/?mlat=${la}&mlon=${lo}#map=16/${la}/${lo}`;\n\n  return `\n    <div style=\"margin-top:12px;\">\n      <p><strong>${titulo}</strong></p>\n      <iframe\n        width=\"100%\"\n        height=\"280\"\n        style=\"border:1px solid #ccc;border-radius:8px;\"\n        src=\"https://www.openstreetmap.org/export/embed.html?bbox=${bbox}&layer=mapnik&marker=${la}%2C${lo}\">\n      </iframe>\n      <p style=\"font-size:12px;color:#666;\">\n        Mapa: © OpenStreetMap contributors\n      </p>\n      <a href=\"${osmLink}\" target=\"_blank\" style=\"display:inline-block;margin-top:8px;padding:9px 13px;background:#2e7d32;color:white;border-radius:6px;text-decoration:none;\">\n        Abrir en OpenStreetMap\n      </a>\n    </div>\n  `;\n}\n\nfunction mapaPreviewHTML(idBase, titulo = \"Vista previa del mapa\") {\n  const tituloSeguro = String(titulo).replaceAll(\"'\", \"\\\\'\");\n\n  return `\n    <div id=\"${idBase}_mapa\" style=\"margin-top:12px;\"></div>\n\n    <script>\n      (function() {\n        const latInput = document.getElementById('${idBase}_lat');\n        const lngInput = document.getElementById('${idBase}_lng');\n        const box = document.getElementById('${idBase}_mapa');\n\n        function renderMapa() {\n          if (!latInput || !lngInput || !box) return;\n\n          const lat = Number(String(latInput.value).replace(',', '.'));\n          const lng = Number(String(lngInput.value).replace(',', '.'));\n\n          if (!Number.isFinite(lat) || !Number.isFinite(lng)) {\n            box.innerHTML = '<div class=\"advertencia\">Ingresa latitud y longitud para mostrar el mapa.</div>';\n            return;\n          }\n\n          const delta = 0.01;\n          const bbox = (lng - delta) + '%2C' + (lat - delta) + '%2C' + (lng + delta) + '%2C' + (lat + delta);\n          const src = 'https://www.openstreetmap.org/export/embed.html?bbox=' + bbox + '&layer=mapnik&marker=' + lat + '%2C' + lng;\n          const osmLink = 'https://www.openstreetmap.org/?mlat=' + lat + '&mlon=' + lng + '#map=16/' + lat + '/' + lng;\n\n          box.innerHTML =\n            '<p><strong>${tituloSeguro}</strong></p>' +\n            '<iframe width=\"100%\" height=\"280\" style=\"border:1px solid #ccc;border-radius:8px;\" src=\"' + src + '\"></iframe>' +\n            '<p style=\"font-size:12px;color:#666;\">Mapa: © OpenStreetMap contributors</p>' +\n            '<a href=\"' + osmLink + '\" target=\"_blank\" style=\"display:inline-block;margin-top:8px;padding:9px 13px;background:#2e7d32;color:white;border-radius:6px;text-decoration:none;\">Abrir en OpenStreetMap</a>';\n        }\n\n        latInput.addEventListener('input', renderMapa);\n        lngInput.addEventListener('input', renderMapa);\n        renderMapa();\n      })();\n    </script>\n  `;\n}\n\nfunction htmlBase(contenido) {\n  return `<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\">\n  <title>Excedentes Alimentarios</title>\n  <style>\n    body{font-family:Arial,sans-serif;background:#f4f7f5;margin:0;padding:0}\n    header{background:#2e7d32;color:white;padding:25px;text-align:center}\n    main{width:90%;max-width:950px;margin:30px auto;background:white;padding:25px;border-radius:12px;box-shadow:0 2px 12px rgba(0,0,0,.12)}\n    nav a{display:inline-block;margin:6px;padding:9px 13px;background:#e8f5e9;color:#2e7d32;text-decoration:none;border-radius:6px;font-weight:bold}\n    nav a:hover{background:#c8e6c9} nav a.alerta{background:#ffebee;color:#c62828}\n    input,select,textarea,button{width:100%;padding:10px;margin:8px 0 14px 0;border-radius:6px;border:1px solid #ccc;box-sizing:border-box}\n    button{background:#2e7d32;color:white;border:none;cursor:pointer;font-weight:bold}\n    button.btn-rojo{background:#c62828}\n    .card{border:1px solid #ddd;border-left:6px solid #2e7d32;padding:15px;margin:15px 0;border-radius:8px;background:#fafafa}\n    .critica{border-left-color:#d32f2f;background:#fff3f3}\n    .vencida{border-left-color:#7b1fa2;background:#f3e5f5}\n    .merma{border-left-color:#f57c00;background:#fff8e1}\n    .badge{display:inline-block;background:#d32f2f;color:white;padding:4px 8px;border-radius:5px;font-size:12px;margin-right:6px}\n    .badge-vencido{background:#7b1fa2} .frio{background:#0277bd} .badge-merma{background:#f57c00}\n    .ok{background:#e8f5e9;border-left:6px solid #2e7d32;padding:12px;border-radius:8px}\n    .error{background:#ffebee;border-left:6px solid #d32f2f;padding:12px;border-radius:8px}\n    .advertencia{background:#fff3e0;border-left:6px solid #e65100;padding:12px;border-radius:8px;margin-bottom:16px}\n    .frio-aviso{background:#e3f2fd;border-left:6px solid #0277bd;padding:12px;border-radius:8px;margin-bottom:16px}\n    table{width:100%;border-collapse:collapse;margin-top:15px}\n    th,td{border:1px solid #ddd;padding:10px;text-align:left} th{background:#e8f5e9}\n  </style></head><body>\n  <header><h1>Plataforma de Gestión de Excedentes Alimentarios</h1><p>n8n + Docker + PostgreSQL</p></header>\n  <main>\n    <nav>\n      <a href=\"?accion=inicio\">Inicio</a>\n      <a href=\"?accion=registro\">Registrar usuario</a>\n      <a href=\"?accion=usuarios\">Usuarios</a>\n      <a href=\"?accion=ubicacion\">📍 Ubicación</a>\n      <a href=\"?accion=sucursales\">🏬 Sucursales</a>\n      <a href=\"?accion=verificar_ong\">✅ Verificar ONG</a>\n      <a href=\"?accion=publicar\">Publicar excedente</a>\n      <a href=\"?accion=publicar_vencido\" class=\"alerta\">⚠️ Reportar vencido</a>\n      <a href=\"?accion=publicar_merma\">🛍️ Merma estética</a>\n      <a href=\"?accion=donaciones\">Ver donaciones</a>\n      <a href=\"?accion=notificaciones\">Notificaciones ONG</a>\n      <a href=\"?accion=reservas\">Reservas</a>\n      <a href=\"?accion=formulario_qr\" class=\"alerta\">🔍 Validar QR</a>\n      <a href=\"?accion=reporte_kilos\">📊 Reporte kilos</a>\n      <a href=\"?accion=certificado\">🌱 Certificado ambiental</a>\n      <a href=\"?accion=historial_proveedor\">📋 Historial proveedor</a>\n    </nav><hr>${contenido}\n  </main></body></html>`;\n}\n\nif (accion === \"guardar_usuario\") {\n  const u = rows[0] || {};\n  const tieneCoords = hasCoords(u.latitud, u.longitud);\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>✅ Usuario registrado</h2>\n      <div class=\"ok\">\n        <p><strong>ID:</strong> ${u.id}</p>\n        <p><strong>Nombre:</strong> ${u.nombre}</p>\n        <p><strong>Email:</strong> ${u.email}</p>\n        <p><strong>Rol:</strong> ${u.rol}</p>\n        <p><strong>Dirección:</strong> ${u.direccion}</p>\n        <p><strong>Comuna:</strong> ${u.comuna || \"No informada\"}</p>\n        <p><strong>Coordenadas:</strong> ${tieneCoords ? `${u.latitud}, ${u.longitud}` : \"No configuradas\"}</p>\n        ${u.rol === \"ONG\" ? `\n          <p><strong>Documento legal:</strong> ${u.documento_legal || \"No informado\"}</p>\n          <p><strong>Estado verificación:</strong> ${u.estado_verificacion || \"PENDIENTE\"}</p>\n          <p class=\"advertencia\">La ONG debe ser verificada antes de poder reservar donaciones.</p>\n        ` : \"\"}\n        <p><strong>Registrado:</strong> ${formatFecha(u.creado_en)}</p>\n      </div>\n      <a href=\"?accion=usuarios\">Ver todos los usuarios</a>\n    `)\n  }}];\n}\n\nif (accion === \"usuarios\") {\n  const filas = rows.map(u => `\n    <tr>\n      <td>${u.id}</td>\n      <td>${u.nombre}</td>\n      <td>${u.email}</td>\n      <td>${u.rol}</td>\n      <td>${u.direccion || ''}</td>\n      <td>${u.comuna || ''}</td>\n      <td>${hasCoords(u.latitud, u.longitud) ? `${u.latitud}, ${u.longitud}` : 'Sin coordenadas'}</td>\n      <td>${u.rol === \"ONG\" ? (u.estado_verificacion || \"PENDIENTE\") : \"NO_APLICA\"}</td>\n      <td>${formatFecha(u.creado_en)}</td>\n    </tr>\n  `).join(\"\");\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>Usuarios registrados</h2>\n      <table>\n        <tr>\n          <th>ID</th>\n          <th>Nombre</th>\n          <th>Email</th>\n          <th>Rol</th>\n          <th>Dirección</th>\n          <th>Comuna</th>\n          <th>Coordenadas</th>\n          <th>Verificación ONG</th>\n          <th>Registrado</th>\n        </tr>\n        ${filas || '<tr><td colspan=\"9\">No hay usuarios registrados.</td></tr>'}\n      </table>\n    `)\n  }}];\n}\n\n// ── HU-05: Renderizar merma estética ─────────────────────────────────────────\nif (accion === \"publicar_merma\") {\n  if (rows.length === 0) {\n    return [{ json: { accionPendiente: null,\n      html: htmlBase(`<h2>🛍️ Merma estética</h2><p class=\"error\">Primero registra un Donante.</p><a href=\"?accion=registro\">Registrar usuario</a>`)\n    }}];\n  }\n\n  const opts = rows.map(u => `<option value=\"${u.id}\">${u.nombre}</option>`).join(\"\");\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>🛍️ Publicar producto con empaque dañado</h2>\n      <div class=\"advertencia\"><strong>Atención:</strong> Solo para productos en buen estado con daño estético.</div>\n      <form method=\"GET\">\n        <input type=\"hidden\" name=\"accion\" value=\"guardar_merma\">\n\n        <label>Donante:</label>\n        <select name=\"donanteId\" required>${opts}</select>\n\n        <label>Nombre del producto:</label>\n        <input name=\"nombre\" placeholder=\"Ej: Caja de galletas\" required>\n\n        <label>Categoría:</label>\n        <select name=\"categoria\" required>\n          <option value=\"Panadería\">Panadería</option>\n          <option value=\"Lácteos\">Lácteos</option>\n          <option value=\"Frutas y verduras\">Frutas y verduras</option>\n          <option value=\"Abarrotes\">Abarrotes</option>\n          <option value=\"Otros\">Otros</option>\n        </select>\n\n        <label>Cantidad:</label>\n        <input name=\"cantidad\" type=\"number\" required>\n\n        <label>Fecha y hora de vencimiento:</label>\n        <input name=\"vencimiento\" type=\"datetime-local\" required>\n\n        <label>Tipo de daño estético:</label>\n        <select name=\"tipoMerma\" required>\n          <option value=\"EMPAQUE_GOLPEADO\">Empaque golpeado</option>\n          <option value=\"ETIQUETA_DESPRENDIDA\">Etiqueta desprendida</option>\n          <option value=\"FORMA_IRREGULAR\">Forma irregular</option>\n          <option value=\"COLOR_ATIPICO\">Color atípico</option>\n          <option value=\"OTROS_ESTETICO\">Otro daño estético</option>\n        </select>\n\n        <label>Descripción del estado real del producto:</label>\n        <textarea name=\"estadoReal\" placeholder=\"Ej: Producto apto para consumo, solo la caja tiene un golpe.\" required></textarea>\n\n        <label>Cadena de frío:</label>\n        <select name=\"cadenaFrio\">\n          <option value=\"NO\">No requiere</option>\n          <option value=\"SI\">Sí requiere</option>\n        </select>\n\n        <button type=\"submit\">Publicar producto con merma estética</button>\n      </form>\n    `)\n  }}];\n}\n\nif (accion === \"guardar_merma\") {\n  const d = rows[0] || {};\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>✅ Producto con merma estética publicado</h2>\n      <div class=\"ok\">\n        <p><strong>Producto:</strong> ${d.nombre}</p>\n        <p><strong>Donante:</strong> ${d.donante_nombre}</p>\n        <p><strong>Categoría:</strong> ${d.categoria}</p>\n        <p><strong>Cantidad:</strong> ${d.cantidad}</p>\n        <p><strong>Vencimiento:</strong> ${formatFecha(d.vencimiento)}</p>\n        <p><strong>Tipo de daño:</strong> ${(d.tipo_merma || \"\").replace(/_/g, \" \")}</p>\n        <p><strong>Estado real:</strong> ${d.observaciones}</p>\n        <p><strong>Cadena de frío:</strong> ${d.cadena_frio ? \"Sí\" : \"No\"}</p>\n        <span class=\"badge badge-merma\">🛍️ MERMA ESTÉTICA</span>\n      </div>\n      <p class=\"ok\">✅ Guardado en PostgreSQL.</p>\n      <a href=\"?accion=donaciones\">Ver donaciones</a>\n    `)\n  }}];\n}\n\n// ── HU-03: Renderizar gestión de sucursales ──────────────────────────────────\nif (accion === \"sucursales\") {\n  if (rows.length === 0) {\n    return [{ json: { accionPendiente: null,\n      html: htmlBase(`\n        <h2>🏬 Gestión de sucursales</h2>\n        <p class=\"error\">Primero registra un donante.</p>\n        <a href=\"?accion=registro\">Registrar usuario</a>\n      `)\n    }}];\n  }\n\n  const donantes = {};\n  rows.forEach(r => {\n    if (!donantes[r.donante_id]) {\n      donantes[r.donante_id] = {\n        id: r.donante_id,\n        nombre: r.donante_nombre,\n        email: r.donante_email,\n        sucursales: []\n      };\n    }\n\n    if (r.sucursal_id) {\n      donantes[r.donante_id].sucursales.push({\n        id: r.sucursal_id,\n        nombre: r.sucursal_nombre,\n        direccion: r.sucursal_direccion,\n        comuna: r.sucursal_comuna,\n        latitud: r.sucursal_latitud,\n        longitud: r.sucursal_longitud,\n        activa: r.sucursal_activa,\n        creado_en: r.sucursal_creado_en\n      });\n    }\n  });\n\n  const contenido = Object.values(donantes).map(donante => {\n    const filasSucursales = donante.sucursales.map(s => {\n      const tieneCoords = hasCoords(s.latitud, s.longitud);\n\n      return `\n        <tr>\n          <td>${s.nombre}</td>\n          <td>${s.direccion || \"\"}</td>\n          <td>${s.comuna || \"\"}</td>\n          <td>${tieneCoords ? `${s.latitud}, ${s.longitud}` : \"Sin coordenadas\"}</td>\n          <td>\n            <span class=\"badge\" style=\"background:${s.activa ? '#2e7d32' : '#c62828'};\">\n              ${s.activa ? \"ACTIVA\" : \"INACTIVA\"}\n            </span>\n          </td>\n          <td>\n            <a href=\"?accion=cambiar_estado_sucursal&sucursalId=${s.id}&activa=${s.activa ? \"false\" : \"true\"}\">\n              ${s.activa ? \"Desactivar\" : \"Activar\"}\n            </a>\n          </td>\n        </tr>\n        ${tieneCoords ? `\n          <tr>\n            <td colspan=\"6\">\n              ${mapaOSM(s.latitud, s.longitud, \"Mapa de la sucursal\")}\n            </td>\n          </tr>\n        ` : \"\"}\n      `;\n    }).join(\"\");\n\n    return `\n      <div class=\"card\">\n        <h3>🏬 Donante: ${donante.nombre}</h3>\n        <p><strong>Email:</strong> ${donante.email || \"\"}</p>\n\n        <h4>Sucursales registradas</h4>\n        <table>\n          <tr>\n            <th>Nombre</th>\n            <th>Dirección</th>\n            <th>Comuna</th>\n            <th>Coordenadas</th>\n            <th>Estado</th>\n            <th>Acciones</th>\n          </tr>\n          ${filasSucursales || '<tr><td colspan=\"6\">Este donante aún no tiene sucursales registradas.</td></tr>'}\n        </table>\n\n        <h4>Agregar nueva sucursal</h4>\n        <form method=\"GET\">\n          <input type=\"hidden\" name=\"accion\" value=\"guardar_sucursal\">\n          <input type=\"hidden\" name=\"donanteId\" value=\"${donante.id}\">\n\n          <label>Nombre sucursal:</label>\n          <input name=\"nombreSucursal\" placeholder=\"Ej: Sucursal Centro\" required>\n\n          <label>Dirección:</label>\n          <input name=\"direccion\" placeholder=\"Ej: Av. Valparaíso 123\">\n\n          <label>Comuna:</label>\n          <input name=\"comuna\" placeholder=\"Ej: Viña del Mar\">\n\n          <label>Latitud:</label>\n          <input id=\"sucursal_${donante.id}_lat\" name=\"latitud\" placeholder=\"Ej: -33.0153\">\n\n          <label>Longitud:</label>\n          <input id=\"sucursal_${donante.id}_lng\" name=\"longitud\" placeholder=\"Ej: -71.5500\">\n\n          ${mapaPreviewHTML(`sucursal_${donante.id}`, \"Vista previa de la sucursal\")}\n\n          <button type=\"submit\">Guardar sucursal</button>\n        </form>\n      </div>\n    `;\n  }).join(\"\");\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>🏬 Gestión de sucursales del donante</h2>\n      <div class=\"advertencia\">\n        Permite registrar, listar y activar/desactivar sucursales asociadas a cada donante.\n      </div>\n      ${contenido}\n    `)\n  }}];\n}\n\nif (accion === \"guardar_sucursal\") {\n  const s = rows[0] || {};\n  const tieneCoords = hasCoords(s.latitud, s.longitud);\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>✅ Sucursal registrada</h2>\n      <div class=\"ok\">\n        <p><strong>ID:</strong> ${s.id}</p>\n        <p><strong>Donante ID:</strong> ${s.donante_id}</p>\n        <p><strong>Nombre:</strong> ${s.nombre}</p>\n        <p><strong>Dirección:</strong> ${s.direccion || \"No informada\"}</p>\n        <p><strong>Comuna:</strong> ${s.comuna || \"No informada\"}</p>\n        <p><strong>Coordenadas:</strong> ${tieneCoords ? `${s.latitud}, ${s.longitud}` : \"No configuradas\"}</p>\n        <p><strong>Estado:</strong> ${s.activa ? \"ACTIVA\" : \"INACTIVA\"}</p>\n      </div>\n\n      ${mapaOSM(s.latitud, s.longitud, \"Mapa de la sucursal\")}\n\n      <br><br>\n      <a href=\"?accion=sucursales\">Volver a sucursales</a>\n    `)\n  }}];\n}\n\nif (accion === \"cambiar_estado_sucursal\") {\n  const s = rows[0] || {};\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>✅ Estado de sucursal actualizado</h2>\n      <div class=\"ok\">\n        <p><strong>Sucursal:</strong> ${s.nombre}</p>\n        <p><strong>Nuevo estado:</strong> ${s.activa ? \"ACTIVA\" : \"INACTIVA\"}</p>\n      </div>\n      <a href=\"?accion=sucursales\">Volver a sucursales</a>\n    `)\n  }}];\n}\n\nif (accion === \"reservar\") {\n  const r = rows[0] || {};\n\n  if (!r.id) {\n    return [{ json: { accionPendiente: null,\n      html: htmlBase(`\n        <h2>No se pudo reservar</h2>\n        <p class=\"error\">La donación ya no está disponible o la organización seleccionada no está verificada.</p>\n        <a href=\"?accion=verificar_ong\">Verificar ONGs</a>\n        <br><br>\n        <a href=\"?accion=donaciones\">Volver a donaciones</a>\n      `)\n    }}];\n  }\n\n  const direccion = r.direccion_donante || \"\";\n  const comuna = r.comuna_donante || \"\";\n  const sucursal = r.sucursal_nombre || \"\";\n  const tieneCoords = hasCoords(r.latitud_donante, r.longitud_donante);\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>✅ Donación reservada</h2>\n      <div class=\"ok\">\n        <p><strong>Producto:</strong> ${r.producto}</p>\n        <p><strong>Organización:</strong> ${r.organizacion_nombre}</p>\n        ${sucursal ? `<p><strong>Sucursal de retiro:</strong> ${sucursal}</p>` : \"\"}\n        <p><strong>Fecha reserva:</strong> ${formatFecha(r.fecha_reserva)}</p>\n        <p><strong>Código QR:</strong> <strong>${r.codigo_qr}</strong></p>\n\n        ${r.cadena_frio\n          ? `<div class=\"frio-aviso\">❄️ <strong>Atención:</strong> Este producto requiere cadena de frío. Asegúrate de contar con transporte refrigerado.</div>`\n          : ''\n        }\n\n        <p><strong>Punto de retiro:</strong> ${direccion} ${comuna ? `, ${comuna}` : \"\"}</p>\n        ${tieneCoords ? `<p><strong>Coordenadas:</strong> ${r.latitud_donante}, ${r.longitud_donante}</p>` : \"\"}\n      </div>\n\n      ${mapaOSM(r.latitud_donante, r.longitud_donante, \"Mapa del punto de retiro\")}\n\n      <br>\n      <a href=\"?accion=reservas\">Ver reservas</a>\n    `)\n  }}];\n}\n\nif (accion === \"publicar\") {\n  if (rows.length === 0) {\n    return [{ json: { accionPendiente: null,\n      html: htmlBase(`<h2>Publicar excedente</h2><p class=\"error\">Primero registra un Donante.</p><a href=\"?accion=registro\">Registrar usuario</a>`)\n    }}];\n  }\n\n  const donantesMap = new Map();\n  const sucursales = [];\n\n  rows.forEach(r => {\n    if (r.donante_id && !donantesMap.has(String(r.donante_id))) {\n      donantesMap.set(String(r.donante_id), r.donante_nombre);\n    }\n\n    if (r.sucursal_id) {\n      sucursales.push({\n        id: r.sucursal_id,\n        donante_id: r.donante_id,\n        nombre: r.sucursal_nombre,\n        direccion: r.sucursal_direccion,\n        comuna: r.sucursal_comuna\n      });\n    }\n  });\n\n  const optsDonantes = [...donantesMap.entries()]\n    .map(([id, nombre]) => `<option value=\"${id}\">${nombre}</option>`)\n    .join(\"\");\n\n  const optsSucursales = sucursales\n    .map(s => `<option value=\"${s.id}\" data-donante=\"${s.donante_id}\">${s.nombre} — ${s.direccion || \"\"} ${s.comuna || \"\"}</option>`)\n    .join(\"\");\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>Publicar excedente alimentario</h2>\n\n      <form method=\"GET\">\n        <input type=\"hidden\" name=\"accion\" value=\"guardar_donacion\">\n\n        <label>Donante:</label>\n        <select name=\"donanteId\" id=\"donanteId\" required>\n          ${optsDonantes}\n        </select>\n\n        <label>Sucursal asociada:</label>\n        <select name=\"sucursalId\" id=\"sucursalId\">\n          <option value=\"\">Sin sucursal específica</option>\n          ${optsSucursales}\n        </select>\n        <p class=\"advertencia\">La sucursal permite identificar desde qué local se retirará el excedente.</p>\n\n        <label>Nombre del producto:</label>\n        <input name=\"nombre\" placeholder=\"Ej: Panadería del día\" required>\n\n        <label>Categoría:</label>\n        <select name=\"categoria\" required>\n          <option value=\"Panadería\">Panadería</option>\n          <option value=\"Lácteos\">Lácteos</option>\n          <option value=\"Frutas y verduras\">Frutas y verduras</option>\n          <option value=\"Abarrotes\">Abarrotes</option>\n          <option value=\"Otros\">Otros</option>\n        </select>\n\n        <label>Cantidad:</label>\n        <input name=\"cantidad\" type=\"number\" required>\n\n        <label>Fecha y hora de vencimiento:</label>\n        <input name=\"vencimiento\" type=\"datetime-local\" required>\n\n        <label>Cadena de frío:</label>\n        <select name=\"cadenaFrio\">\n          <option value=\"NO\">No requiere</option>\n          <option value=\"SI\">Sí requiere</option>\n        </select>\n\n        <label>Tipo de dieta:</label>\n        <select name=\"tipoDieta\">\n          <option value=\"SIN_RESTRICCION\">Sin restricción</option>\n          <option value=\"VEGANO\">Vegano</option>\n          <option value=\"VEGETARIANO\">Vegetariano</option>\n          <option value=\"SIN_GLUTEN\">Sin gluten</option>\n          <option value=\"SIN_LACTOSA\">Sin lactosa</option>\n          <option value=\"KOSHER\">Kosher</option>\n          <option value=\"HALAL\">Halal</option>\n        </select>\n\n        <label>Observaciones:</label>\n        <textarea name=\"observaciones\"></textarea>\n\n        <button type=\"submit\">Publicar donación</button>\n      </form>\n\n      <script>\n        const donanteSelect = document.getElementById('donanteId');\n        const sucursalSelect = document.getElementById('sucursalId');\n\n        function filtrarSucursales() {\n          const donanteId = donanteSelect.value;\n\n          Array.from(sucursalSelect.options).forEach(opt => {\n            if (!opt.value) {\n              opt.hidden = false;\n              return;\n            }\n            opt.hidden = opt.dataset.donante !== donanteId;\n          });\n\n          if (sucursalSelect.selectedOptions[0] && sucursalSelect.selectedOptions[0].hidden) {\n            sucursalSelect.value = \"\";\n          }\n        }\n\n        donanteSelect.addEventListener('change', filtrarSucursales);\n        filtrarSucursales();\n      </script>\n    `)\n  }}];\n}\n\nif (accion === \"publicar_vencido\") {\n  if (rows.length === 0) {\n    return [{ json: { accionPendiente: null,\n      html: htmlBase(`<h2>Reportar vencido</h2><p class=\"error\">Primero registra un Donante.</p><a href=\"?accion=registro\">Registrar usuario</a>`)\n    }}];\n  }\n\n  const opts = rows.map(u => `<option value=\"${u.id}\">${u.nombre}</option>`).join(\"\");\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>⚠️ Reportar producto vencido</h2>\n      <div class=\"advertencia\"><strong>Atención:</strong> Las ONGs recibirán una alerta push.</div>\n      <form method=\"GET\">\n        <input type=\"hidden\" name=\"accion\" value=\"guardar_vencido\">\n\n        <label>Donante:</label>\n        <select name=\"donanteId\" required>${opts}</select>\n\n        <label>Nombre del producto:</label>\n        <input name=\"nombre\" required>\n\n        <label>Categoría:</label>\n        <select name=\"categoria\" required>\n          <option value=\"Panadería\">Panadería</option>\n          <option value=\"Lácteos\">Lácteos</option>\n          <option value=\"Frutas y verduras\">Frutas y verduras</option>\n          <option value=\"Abarrotes\">Abarrotes</option>\n          <option value=\"Otros\">Otros</option>\n        </select>\n\n        <label>Cantidad:</label>\n        <input name=\"cantidad\" type=\"number\" required>\n\n        <label>Fecha de vencimiento (ya expirada):</label>\n        <input name=\"vencimiento\" type=\"datetime-local\" required>\n\n        <label>Observaciones:</label>\n        <textarea name=\"observaciones\"></textarea>\n\n        <button type=\"submit\" class=\"btn-rojo\">⚠️ Registrar producto vencido</button>\n      </form>\n    `)\n  }}];\n}\n\nif (accion === \"guardar_donacion\") {\n  const d = rows[0] || {};\n  return [{ json: {\n    accionPendiente: meta.accionPendiente,\n    payload: meta.payload,\n    html: htmlBase(`\n      <h2>✅ Donación publicada</h2>\n      <div class=\"ok\">\n        <p><strong>ID:</strong> ${d.id}</p>\n        <p><strong>Producto:</strong> ${d.nombre}</p>\n        <p><strong>Donante:</strong> ${d.donante_nombre}</p>\n        ${d.sucursal_nombre ? `<p><strong>Sucursal:</strong> ${d.sucursal_nombre}</p>` : \"\"}\n        <p><strong>Cantidad:</strong> ${d.cantidad}</p>\n        <p><strong>Vencimiento:</strong> ${formatFecha(d.vencimiento)}</p>\n        <p><strong>Cadena de frío:</strong> ${d.cadena_frio ? \"❄️ Sí requiere\" : \"No requiere\"}</p>\n      </div>\n      <p class=\"ok\">✅ Guardado en PostgreSQL.</p>\n      <a href=\"?accion=donaciones\">Ver donaciones</a>\n    `)\n  }}];\n}\n\nif (accion === \"guardar_vencido\") {\n  const d = rows[0] || {};\n  return [{ json: {\n    accionPendiente: meta.accionPendiente,\n    payload: meta.payload,\n    html: htmlBase(`\n      <h2>⚠️ Producto vencido registrado</h2>\n      <div class=\"critica\">\n        <p><strong>Producto:</strong> ${d.nombre}</p>\n        <p><strong>Donante:</strong> ${d.donante_nombre}</p>\n        <p><strong>Cantidad:</strong> ${d.cantidad}</p>\n        <p><strong>Vencimiento:</strong> ${formatFecha(d.vencimiento)}</p>\n        <p><strong>Estado:</strong> <span class=\"badge badge-vencido\">VENCIDO</span></p>\n      </div>\n      <p class=\"advertencia\">⚠️ Alerta enviada a ONGs.</p>\n      <a href=\"?accion=notificaciones\">Ver notificaciones</a>\n    `)\n  }}];\n}\n\nif (accion === \"donaciones\") {\n  const seen = new Set();\n  const donaciones = rows.filter(r => {\n    if (seen.has(r.id)) return false;\n    seen.add(r.id);\n    return true;\n  });\n\n  const ongMap = new Map();\n  rows.forEach(r => {\n    if (r.ong_id) {\n      ongMap.set(String(r.ong_id), {\n        nombre: r.ong_nombre,\n        estado: r.ong_estado_verificacion || \"PENDIENTE\"\n      });\n    }\n  });\n\n  const opcionesONG = [...ongMap.entries()]\n    .filter(([id, ong]) => ong.estado === \"VERIFICADA\")\n    .map(([id, ong]) => `<option value=\"${id}\">${ong.nombre}</option>`)\n    .join(\"\");\n\n  const ongsPendientes = [...ongMap.entries()]\n    .filter(([id, ong]) => ong.estado !== \"VERIFICADA\")\n    .map(([id, ong]) => `${ong.nombre} (${ong.estado})`)\n    .join(\", \");\n\n  const lista = donaciones.map(d => {\n    const horas = (new Date(d.vencimiento).getTime() - new Date().getTime()) / 3600000;\n    const critica = horas <= 6 && horas >= 0;\n\n    return `\n      <div class=\"card ${critica ? \"critica\" : \"\"} ${d.tipo_excedente === \"MERMA_ESTETICA\" ? \"merma\" : \"\"}\">\n        <h3>${d.nombre}</h3>\n\n        ${critica ? '<span class=\"badge\">Urgente</span>' : \"\"}\n        ${d.cadena_frio ? '<span class=\"badge frio\">❄️ Cadena de frío</span>' : \"\"}\n        ${d.tipo_excedente === \"MERMA_ESTETICA\" ? '<span class=\"badge badge-merma\">🛍️ Merma estética</span>' : \"\"}\n\n        <p><strong>Donante:</strong> ${d.donante_nombre}</p>\n        ${d.sucursal_nombre ? `<p><strong>Sucursal:</strong> ${d.sucursal_nombre}</p>` : \"\"}\n        <p><strong>Categoría:</strong> ${d.categoria}</p>\n        <p><strong>Cantidad:</strong> ${d.cantidad}</p>\n        <p><strong>Vencimiento:</strong> ${formatFecha(d.vencimiento)}</p>\n        <p><strong>Observaciones:</strong> ${d.observaciones || \"Sin observaciones\"}</p>\n\n        ${d.cadena_frio\n          ? `<div class=\"frio-aviso\">❄️ <strong>Requiere cadena de frío.</strong> Prepara transporte refrigerado antes de reservar.</div>`\n          : \"\"\n        }\n\n        ${opcionesONG\n          ? `<form method=\"GET\">\n              <input type=\"hidden\" name=\"accion\" value=\"reservar\">\n              <input type=\"hidden\" name=\"donacionId\" value=\"${d.id}\">\n              <label>Organización verificada que reserva:</label>\n              <select name=\"usuarioId\" required>${opcionesONG}</select>\n              <button type=\"submit\">Reservar donación</button>\n            </form>`\n          : `<p class=\"error\">No hay ONGs verificadas disponibles para reservar.</p>\n             ${ongsPendientes ? `<p class=\"advertencia\"><strong>ONGs pendientes/rechazadas:</strong> ${ongsPendientes}</p>` : \"\"}\n             <a href=\"?accion=verificar_ong\">Verificar ONGs</a>`\n        }\n      </div>`;\n  }).join(\"\");\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>Donaciones disponibles</h2>\n\n      <form method=\"GET\" style=\"margin-bottom:20px;display:flex;gap:10px;align-items:center;\">\n        <input type=\"hidden\" name=\"accion\" value=\"donaciones\">\n\n        <label style=\"margin:0;width:auto;font-weight:bold;\">🥗 Filtrar por dieta:</label>\n        <select name=\"dieta\" style=\"width:auto;margin:0;\">\n          <option value=\"TODOS\">Todas</option>\n          <option value=\"SIN_RESTRICCION\" ${query.dieta === \"SIN_RESTRICCION\" ? \"selected\" : \"\"}>Sin restricción</option>\n          <option value=\"VEGANO\" ${query.dieta === \"VEGANO\" ? \"selected\" : \"\"}>Vegano</option>\n          <option value=\"VEGETARIANO\" ${query.dieta === \"VEGETARIANO\" ? \"selected\" : \"\"}>Vegetariano</option>\n          <option value=\"SIN_GLUTEN\" ${query.dieta === \"SIN_GLUTEN\" ? \"selected\" : \"\"}>Sin gluten</option>\n          <option value=\"SIN_LACTOSA\" ${query.dieta === \"SIN_LACTOSA\" ? \"selected\" : \"\"}>Sin lactosa</option>\n          <option value=\"KOSHER\" ${query.dieta === \"KOSHER\" ? \"selected\" : \"\"}>Kosher</option>\n          <option value=\"HALAL\" ${query.dieta === \"HALAL\" ? \"selected\" : \"\"}>Halal</option>\n        </select>\n\n        <button type=\"submit\" style=\"width:auto;padding:10px 20px;\">Filtrar</button>\n      </form>\n\n      ${lista || \"<p>No hay donaciones disponibles.</p>\"}\n    `)\n  }}];\n}\n\nif (accion === \"notificaciones\") {\n  if (!query.usuarioId) {\n    const opts = rows.map(u => `<option value=\"${u.id}\">${u.nombre}</option>`).join(\"\");\n    return [{ json: { accionPendiente: null,\n      html: htmlBase(`\n        <h2>Notificaciones ONG</h2>\n        <form method=\"GET\">\n          <input type=\"hidden\" name=\"accion\" value=\"notificaciones\">\n\n          <label>Organización:</label>\n          <select name=\"usuarioId\" required>${opts}</select>\n\n          <button type=\"submit\">Ver notificaciones</button>\n        </form>\n      `)\n    }}];\n  }\n\n  const lista = rows.map(n => `\n    <div class=\"card ${n.es_alerta_vencido ? \"vencida\" : \"\"}\">\n      ${n.es_alerta_vencido ? '<span class=\"badge badge-vencido\">⚠️ VENCIDO</span>' : \"\"}\n      <p>${n.mensaje}</p>\n      <p><strong>Fecha:</strong> ${formatFecha(n.fecha)}</p>\n    </div>`).join(\"\");\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`<h2>Notificaciones</h2>${lista || \"<p>No hay notificaciones.</p>\"}`)\n  }}];\n}\n\n// ── HU-02: Renderizar configuración de ubicación geográfica ─────────────────\nif (accion === \"ubicacion\") {\n  if (rows.length === 0) {\n    return [{ json: { accionPendiente: null,\n      html: htmlBase(`\n        <h2>📍 Configurar ubicación geográfica</h2>\n        <p class=\"error\">No hay usuarios registrados.</p>\n        <a href=\"?accion=registro\">Registrar usuario</a>\n      `)\n    }}];\n  }\n\n  const tarjetas = rows.map(u => {\n    const tieneCoords = hasCoords(u.latitud, u.longitud);\n\n    return `\n      <div class=\"card\">\n        <h3>📍 ${u.nombre}</h3>\n        <p><strong>Rol:</strong> ${u.rol}</p>\n        <p><strong>Email:</strong> ${u.email}</p>\n        <p><strong>Dirección actual:</strong> ${u.direccion || \"No informada\"}</p>\n        <p><strong>Comuna actual:</strong> ${u.comuna || \"No informada\"}</p>\n        <p><strong>Coordenadas:</strong> ${tieneCoords ? `${u.latitud}, ${u.longitud}` : \"No configuradas\"}</p>\n\n        ${mapaOSM(u.latitud, u.longitud, \"Mapa actual de la ubicación\")}\n\n        <form method=\"GET\">\n          <input type=\"hidden\" name=\"accion\" value=\"actualizar_ubicacion\">\n          <input type=\"hidden\" name=\"usuarioId\" value=\"${u.id}\">\n\n          <label>Dirección exacta:</label>\n          <input name=\"direccion\" value=\"${u.direccion || \"\"}\" required>\n\n          <label>Comuna:</label>\n          <input name=\"comuna\" value=\"${u.comuna || \"\"}\" placeholder=\"Ej: Viña del Mar\">\n\n          <label>Latitud:</label>\n          <input id=\"ubicacion_${u.id}_lat\" name=\"latitud\" value=\"${u.latitud || \"\"}\" placeholder=\"Ej: -33.0153\">\n\n          <label>Longitud:</label>\n          <input id=\"ubicacion_${u.id}_lng\" name=\"longitud\" value=\"${u.longitud || \"\"}\" placeholder=\"Ej: -71.5500\">\n\n          ${mapaPreviewHTML(`ubicacion_${u.id}`, \"Vista previa de la ubicación\")}\n\n          <button type=\"submit\">Guardar ubicación</button>\n        </form>\n      </div>\n    `;\n  }).join(\"\");\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>📍 Configuración de ubicación geográfica exacta</h2>\n      <div class=\"advertencia\">\n        Puedes registrar dirección, comuna y coordenadas para mostrar el punto exacto en OpenStreetMap.\n      </div>\n      ${tarjetas}\n    `)\n  }}];\n}\n\nif (accion === \"actualizar_ubicacion\") {\n  const u = rows[0] || {};\n  const tieneCoords = hasCoords(u.latitud, u.longitud);\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>✅ Ubicación actualizada</h2>\n      <div class=\"ok\">\n        <p><strong>Usuario:</strong> ${u.nombre}</p>\n        <p><strong>Rol:</strong> ${u.rol}</p>\n        <p><strong>Dirección:</strong> ${u.direccion || \"No informada\"}</p>\n        <p><strong>Comuna:</strong> ${u.comuna || \"No informada\"}</p>\n        <p><strong>Coordenadas:</strong> ${tieneCoords ? `${u.latitud}, ${u.longitud}` : \"No configuradas\"}</p>\n      </div>\n\n      ${mapaOSM(u.latitud, u.longitud, \"Mapa de la ubicación\")}\n\n      <br><br>\n      <a href=\"?accion=ubicacion\">Volver a ubicación</a>\n    `)\n  }}];\n}\n\n// ── HU-01: Renderizar verificación de documentos legales de ONG ──────────────\nif (accion === \"verificar_ong\") {\n  if (rows.length === 0) {\n    return [{ json: { accionPendiente: null,\n      html: htmlBase(`\n        <h2>✅ Verificación de ONGs</h2>\n        <p class=\"error\">No hay organizaciones sociales registradas.</p>\n        <a href=\"?accion=registro\">Registrar ONG</a>\n      `)\n    }}];\n  }\n\n  const tarjetas = rows.map(o => {\n    const estado = o.estado_verificacion || \"PENDIENTE\";\n    const color = estado === \"VERIFICADA\" ? \"#2e7d32\" : estado === \"RECHAZADA\" ? \"#c62828\" : \"#e65100\";\n\n    return `\n      <div class=\"card\">\n        <h3>${o.nombre}</h3>\n        <p><strong>Email:</strong> ${o.email}</p>\n        <p><strong>Dirección:</strong> ${o.direccion || \"\"}</p>\n        <p><strong>Documento legal:</strong> ${o.documento_legal || \"No informado\"}</p>\n        <p>\n          <strong>Estado actual:</strong>\n          <span class=\"badge\" style=\"background:${color};\">${estado}</span>\n        </p>\n        <p><strong>Observación:</strong> ${o.observacion_verificacion || \"Sin observación\"}</p>\n\n        <form method=\"GET\">\n          <input type=\"hidden\" name=\"accion\" value=\"actualizar_verificacion\">\n          <input type=\"hidden\" name=\"usuarioId\" value=\"${o.id}\">\n\n          <label>Nuevo estado:</label>\n          <select name=\"estado\" required>\n            <option value=\"PENDIENTE\" ${estado === \"PENDIENTE\" ? \"selected\" : \"\"}>Pendiente</option>\n            <option value=\"VERIFICADA\" ${estado === \"VERIFICADA\" ? \"selected\" : \"\"}>Verificada</option>\n            <option value=\"RECHAZADA\" ${estado === \"RECHAZADA\" ? \"selected\" : \"\"}>Rechazada</option>\n          </select>\n\n          <label>Observación de revisión:</label>\n          <textarea name=\"observacion\" placeholder=\"Ej: Documento válido / documento incompleto\">${o.observacion_verificacion || \"\"}</textarea>\n\n          <button type=\"submit\">Actualizar verificación</button>\n        </form>\n      </div>\n    `;\n  }).join(\"\");\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>✅ Verificación de documentos legales de ONG</h2>\n      <div class=\"advertencia\">\n        Solo las ONGs con estado <strong>VERIFICADA</strong> podrán reservar donaciones.\n      </div>\n      ${tarjetas}\n    `)\n  }}];\n}\n\nif (accion === \"actualizar_verificacion\") {\n  const o = rows[0] || {};\n  const estado = o.estado_verificacion || \"PENDIENTE\";\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>✅ Estado de ONG actualizado</h2>\n      <div class=\"ok\">\n        <p><strong>Organización:</strong> ${o.nombre}</p>\n        <p><strong>Email:</strong> ${o.email}</p>\n        <p><strong>Nuevo estado:</strong> ${estado}</p>\n        <p><strong>Observación:</strong> ${o.observacion_verificacion || \"Sin observación\"}</p>\n      </div>\n      <a href=\"?accion=verificar_ong\">Volver a verificación de ONGs</a>\n    `)\n  }}];\n}\n\n// ── HU-15: Renderizar historial por proveedor ────────────────────────────────\nif (accion === \"historial_proveedor\") {\n  if (!query.usuarioId) {\n    const opts = rows.map(u => `<option value=\"${u.id}\">${u.nombre}</option>`).join(\"\");\n\n    return [{ json: { accionPendiente: null,\n      html: htmlBase(`\n        <h2>📋 Historial de donaciones por proveedor</h2>\n        <div class=\"advertencia\">\n          Selecciona una organización social para ver las donaciones recibidas agrupadas por proveedor.\n        </div>\n\n        <form method=\"GET\">\n          <input type=\"hidden\" name=\"accion\" value=\"historial_proveedor\">\n\n          <label>Organización social:</label>\n          <select name=\"usuarioId\" required>\n            ${opts}\n          </select>\n\n          <button type=\"submit\">Ver historial</button>\n        </form>\n      `)\n    }}];\n  }\n\n  if (rows.length === 0) {\n    return [{ json: { accionPendiente: null,\n      html: htmlBase(`\n        <h2>📋 Historial de donaciones por proveedor</h2>\n        <p class=\"error\">Esta organización todavía no tiene donaciones completadas.</p>\n        <a href=\"?accion=historial_proveedor\">Volver</a>\n      `)\n    }}];\n  }\n\n  const agrupado = {};\n  rows.forEach(r => {\n    if (!agrupado[r.donante_nombre]) {\n      agrupado[r.donante_nombre] = [];\n    }\n    agrupado[r.donante_nombre].push(r);\n  });\n\n  const contenido = Object.entries(agrupado).map(([donante, donaciones]) => {\n    const total = donaciones.reduce((acc, d) => acc + Number(d.cantidad || 0), 0);\n\n    const filas = donaciones.map(d => `\n      <tr>\n        <td>${formatFecha(d.fecha_entrega)}</td>\n        <td>${d.producto}</td>\n        <td>${d.categoria || ''}</td>\n        <td>${d.cantidad}</td>\n        <td>${formatFecha(d.vencimiento)}</td>\n      </tr>\n    `).join(\"\");\n\n    return `\n      <div class=\"card\">\n        <h3>🏢 Proveedor: ${donante}</h3>\n        <p><strong>Total recibido desde este proveedor:</strong> ${total} kg/unidades</p>\n        <table>\n          <tr>\n            <th>Fecha entrega</th>\n            <th>Producto</th>\n            <th>Categoría</th>\n            <th>Cantidad</th>\n            <th>Vencimiento</th>\n          </tr>\n          ${filas}\n        </table>\n      </div>\n    `;\n  }).join(\"\");\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>📋 Historial de donaciones por proveedor</h2>\n      <div class=\"ok\">\n        <strong>Organización:</strong> ${rows[0].organizacion_nombre}\n      </div>\n      ${contenido}\n    `)\n  }}];\n}\n\nif (accion === \"reservas\") {\n  const lista = rows.map(r => `\n    <div class=\"card\">\n      <h3>${r.producto}</h3>\n      <p><strong>Organización:</strong> ${r.organizacion_nombre}</p>\n      <p><strong>Fecha reserva:</strong> ${formatFecha(r.fecha_reserva)}</p>\n      <p><strong>Estado:</strong> ${r.estado}</p>\n      <p><strong>QR:</strong> ${r.codigo_qr}</p>\n    </div>`).join(\"\");\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`<h2>Reservas</h2>${lista || \"<p>No hay reservas.</p>\"}`)\n  }}];\n}\n\n// ── HU-11: Renderizar resultado de validación QR ─────────────────────────────\nif (accion === \"validar_qr\") {\n  if (rows.length === 0 || !rows[0].reserva_id) {\n    return [{ json: { accionPendiente: null,\n      html: htmlBase(`\n        <h2>❌ Código QR no válido</h2>\n        <div class=\"error\">\n          <p>El código ingresado <strong>no existe</strong> en el sistema. Verifica que sea correcto.</p>\n        </div>\n        <a href=\"?accion=formulario_qr\">← Intentar de nuevo</a>\n      `)\n    }}];\n  }\n\n  const r = rows[0];\n\n  if (r.reserva_estado === \"COMPLETADA\") {\n    return [{ json: { accionPendiente: null,\n      html: htmlBase(`\n        <h2>⚠️ Código ya utilizado</h2>\n        <div class=\"advertencia\">\n          <p>Este código QR <strong>ya fue canjeado</strong> en una entrega anterior.</p>\n          <p><strong>Producto:</strong> ${r.producto}</p>\n          <p><strong>Organización:</strong> ${r.organizacion_nombre}</p>\n          <p><strong>Reserva:</strong> ${r.codigo_qr}</p>\n        </div>\n        <a href=\"?accion=formulario_qr\">← Validar otro código</a>\n      `)\n    }}];\n  }\n\n  if (Number(r.reserva_actualizada) > 0) {\n    return [{ json: { accionPendiente: null,\n      html: htmlBase(`\n        <h2>✅ Entrega validada correctamente</h2>\n        <div class=\"ok\">\n          <p><strong>Producto:</strong> ${r.producto}</p>\n          <p><strong>Cantidad:</strong> ${r.cantidad}</p>\n          <p><strong>Organización receptora:</strong> ${r.organizacion_nombre}</p>\n          <p><strong>Donante:</strong> ${r.donante_nombre}</p>\n          <p><strong>Código QR:</strong> ${r.codigo_qr}</p>\n          <p><strong>Fecha y hora de entrega:</strong> ${formatFecha(r.fecha_entrega)}</p>\n          <p><strong>Estado donación:</strong> <span class=\"badge\" style=\"background:#388e3c;color:white;padding:4px 8px;border-radius:5px;\">ENTREGADA</span></p>\n        </div>\n        <p class=\"ok\">✅ Notificación enviada al donante automáticamente.</p>\n        <br>\n        <a href=\"?accion=reservas\">Ver todas las reservas</a>\n      `)\n    }}];\n  }\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>❌ Error al validar</h2>\n      <div class=\"error\">\n        <p>Ocurrió un error inesperado al procesar el código. Intenta nuevamente.</p>\n      </div>\n      <a href=\"?accion=formulario_qr\">← Volver</a>\n    `)\n  }}];\n}\n\n// ── HU-13: Renderizar reporte de kilos rescatados ─────────────────────────────\nif (accion === \"reporte_kilos\") {\n  const total_general = rows.reduce((sum, r) => sum + Number(r.total_kilos || 0), 0);\n  const total_entregas = rows.reduce((sum, r) => sum + Number(r.total_entregas || 0), 0);\n\n  const filas = rows.map(r => `\n    <tr>\n      <td>${r.mes_nombre}</td>\n      <td style=\"text-align:center;\">${r.total_entregas}</td>\n      <td style=\"text-align:center;font-weight:bold;\">${Number(r.total_kilos || 0).toLocaleString('es-CL')}</td>\n    </tr>\n  `).join(\"\");\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>📊 Reporte de kilos rescatados</h2>\n      <div class=\"ok\" style=\"display:flex;gap:30px;margin-bottom:20px;\">\n        <div style=\"text-align:center;\">\n          <p style=\"font-size:2em;font-weight:bold;margin:0;\">${total_general.toLocaleString('es-CL')}</p>\n          <p style=\"margin:0;\">Total kilos rescatados</p>\n        </div>\n        <div style=\"text-align:center;\">\n          <p style=\"font-size:2em;font-weight:bold;margin:0;\">${total_entregas}</p>\n          <p style=\"margin:0;\">Total entregas completadas</p>\n        </div>\n      </div>\n      <table>\n        <tr>\n          <th>Mes</th>\n          <th style=\"text-align:center;\">Entregas</th>\n          <th style=\"text-align:center;\">Kilos rescatados</th>\n        </tr>\n        ${filas || '<tr><td colspan=\"3\">No hay entregas completadas aún.</td></tr>'}\n      </table>\n    `)\n  }}];\n}\n\n// ── HU-14: Renderizar certificado de impacto ambiental ───────────────────────\nif (accion === \"certificado\") {\n  if (rows.length === 0) {\n    return [{ json: { accionPendiente: null,\n      html: htmlBase(`\n        <h2>🌱 Certificado de impacto ambiental</h2>\n        <div class=\"advertencia\">No hay donantes registrados para generar certificados.</div>\n        <a href=\"?accion=inicio\">← Volver</a>\n      `)\n    }}];\n  }\n\n  const certificados = rows.map(d => `\n    <div class=\"card\" style=\"border-left-color:#2e7d32;page-break-inside:avoid;\">\n      <div style=\"display:flex;justify-content:space-between;align-items:center;\">\n        <div>\n          <h3 style=\"margin:0;\">🌱 ${d.nombre}</h3>\n          <p style=\"margin:4px 0;color:#666;\">${d.email} ${d.direccion ? '— ' + d.direccion : ''}</p>\n        </div>\n        <span class=\"badge\" style=\"background:#2e7d32;font-size:14px;padding:8px 12px;\">CERTIFICADO</span>\n      </div>\n\n      <hr style=\"border-color:#e8f5e9;\">\n\n      <div style=\"display:flex;gap:30px;margin:10px 0;\">\n        <div style=\"text-align:center;\">\n          <p style=\"font-size:1.8em;font-weight:bold;margin:0;color:#2e7d32;\">${Number(d.total_kilos || 0).toLocaleString('es-CL')}</p>\n          <p style=\"margin:0;font-size:12px;\">kg rescatados</p>\n        </div>\n\n        <div style=\"text-align:center;\">\n          <p style=\"font-size:1.8em;font-weight:bold;margin:0;color:#0277bd;\">${Number(d.co2_evitado || 0).toLocaleString('es-CL')}</p>\n          <p style=\"margin:0;font-size:12px;\">kg CO₂ evitado</p>\n        </div>\n\n        <div style=\"text-align:center;\">\n          <p style=\"font-size:1.8em;font-weight:bold;margin:0;color:#f57c00;\">${d.total_entregas || 0}</p>\n          <p style=\"margin:0;font-size:12px;\">entregas completadas</p>\n        </div>\n      </div>\n\n      <p style=\"font-size:12px;color:#888;margin:8px 0 0 0;\">\n        * Estimación CO₂: 2.5 kg de CO₂ evitado por cada kg de alimento rescatado.\n      </p>\n    </div>\n  `).join(\"\");\n\n  return [{ json: { accionPendiente: null,\n    html: htmlBase(`\n      <h2>🌱 Certificados de impacto ambiental</h2>\n      <div class=\"advertencia\">\n        <strong>Metodología:</strong> Se estima que por cada kilogramo de alimento rescatado se evita la emisión de 2.5 kg de CO₂ equivalente, considerando producción, transporte y descomposición en vertedero.\n      </div>\n      ${certificados}\n    `)\n  }}];\n}\n\nreturn [{ json: { accionPendiente: null,\n  html: htmlBase(`<h2>Acción no reconocida</h2><p>Acción: <strong>${accion}</strong></p>`)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        416
      ],
      "id": "4f86addc-b70b-4840-9448-0093ae7a92d7",
      "name": "Renderizar HTML"
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Code in JavaScript').first().json;\nconst accion = meta.accion;\nconst rows = $input.all().map(i => i.json);\n\n// Acciones que no necesitan notificaciones, pasar directo\nif (accion !== 'guardar_donacion' && accion !== 'guardar_vencido') {\n  return [{ json: { ...meta, rows, sqlNotif: null }}];\n}\n\nif (accion === 'guardar_donacion' || accion === 'guardar_vencido') {\n  const donacion = rows[0];\n  if (donacion && donacion.id) {\n    const esVencido = accion === 'guardar_vencido';\n    const mensaje = esVencido\n      ? `⚠️ ALERTA VENCIDO: ${donacion.nombre} (${donacion.cantidad} uds) vencido el ${donacion.vencimiento}`\n      : `Nueva donación: ${donacion.nombre} (${donacion.cantidad} uds) disponible`;\n    return [{ json: {\n      ...meta,\n      rows,\n      sqlNotif: `INSERT INTO notificaciones (usuario_id, organizacion_nombre, donacion_id, mensaje, es_alerta_vencido)\n                 SELECT u.id, u.nombre, ${donacion.id}, '${mensaje.replaceAll(\"'\",\"''\")}', ${esVencido}\n                 FROM usuarios u WHERE u.rol = 'ONG';`\n    }}];\n  }\n}\n\nreturn [{ json: { ...meta, rows, sqlNotif: null }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        64
      ],
      "id": "9459346b-c20d-4226-a8d7-976d4fad32b4",
      "name": "Insertar Notificaciones"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.sqlNotif || 'SELECT 1;' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        48
      ],
      "id": "21aa7f07-6ec6-463c-89de-d9f2cf8b8895",
      "name": "Notificaciones",
      "credentials": {
        "postgres": {
          "id": "wNBbPvimX8KcwNWz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3dba0643-f4a8-43f0-899c-81b2fc07f91a",
              "leftValue": "={{ $('Code in JavaScript').first().json.accion }} == reservar",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        48
      ],
      "id": "ccaa155d-19cc-451c-b060-e72d9b5d5aed",
      "name": "¿Es reserva?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO notificaciones (usuario_id, donacion_id, mensaje, es_alerta_vencido)\nSELECT \n  d.donante_id,\n  r.donacion_id,\n  'La organización ' || r.organizacion_nombre || ' ha reservado tu donación: ' || r.producto || '. Código QR: ' || r.codigo_qr,\n  false\nFROM reservas r\nJOIN donaciones d ON d.id = r.donacion_id\nWHERE r.codigo_qr = '{{ $('Execute a SQL query').first().json.codigo_qr }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        96
      ],
      "id": "597d0c90-1872-4322-b214-4244c358eb4b",
      "name": "Notif Donante Reserva",
      "credentials": {
        "postgres": {
          "id": "wNBbPvimX8KcwNWz",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Frontend": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "¿Necesita SQL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar fecha vencimiento": {
      "main": [
        [
          {
            "node": "Calcular urgencia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook (otras acciones)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular urgencia": {
      "main": [
        [
          {
            "node": "Notificación Push (ntfy)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificación Push (ntfy)": {
      "main": [
        [
          {
            "node": "Respond to Webhook (donación)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es producto vencido?": {
      "main": [
        [
          {
            "node": "Calcular urgencia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook (otras acciones)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Insertar Notificaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es nueva donación?": {
      "main": [
        [
          {
            "node": "Validar fecha vencimiento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Es producto vencido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Necesita SQL?": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Renderizar HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renderizar HTML": {
      "main": [
        [
          {
            "node": "¿Es nueva donación?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Notificaciones": {
      "main": [
        [
          {
            "node": "Notificaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificaciones": {
      "main": [
        [
          {
            "node": "¿Es reserva?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es reserva?": {
      "main": [
        [
          {
            "node": "Notif Donante Reserva",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Renderizar HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notif Donante Reserva": {
      "main": [
        [
          {
            "node": "Renderizar HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "ba35419192559137d0a29e8d283c874f61377a4c0a19e394b332ae7ab766be59"
  }
}